/*
  This file redefines the base form controls
*/

input.form-control {
  background-color: var(--form-bg);
  border-bottom: 0px solid white;
  border-top: 0;
  border-left: 0;
  border-right: 0;
  color: white;
  padding: .25rem .5rem;
  border-radius: 0;
}

input.form-control--border {
  border: 1px solid white;
  border-radius: 3px;
}

select.form-control {
  background-color: var(--form-bg);
  border-bottom: 0px solid white;
  border-top: 0;
  border-left: 0;
  border-right: 0;
  color: white;
  padding: .25rem .5rem;
  border-radius: 0;
}

textarea.form-control {
  background-color: var(--form-bg);
  border: 0;
  color: white;
  padding: .25rem .5rem;
}

input.form-control:focus {
  background-color: var(--form-focus-bg);
  color: white;
  box-shadow: unset;
}

.form-control {
  background-color: var(--form-bg);
  border-bottom: 0px solid white;
  border-top: 0;
  border-left: 0;
  border-right: 0;
  color: white;
  padding: .25rem .5rem;
  border-radius: 0;
}

select.form-control:focus {
  background-color: var(--form-focus-bg);
  color: white;
}

textarea.form-control:focus {
  background-color: var(--form-focus-bg);
    color: white;
}

label {
  margin: 0;
}

.toggle2 {
  border-bottom: 0;
  border-top: 0;
  border-left: 0;
  border-right: 0;
  color: white;
  border-radius: 0;
  background-color: var(--form-bg)
}

optgroup, option {
  background-color: black
}

.ng2-tag-input {
  border-bottom: 1px solid white
}
.ng2-tag-input.ng2-tag-input--focused {
  border-bottom: 1px solid white
}

input.switch {
  position: relative;
  -webkit-appearance: none;
  outline: none;
  width: 32px;
  height: 16px;
  background-color: rgb(68, 68, 68);
  border: 1px solid rgb(124, 124, 124);
  border-radius: 50px; 
  box-shadow: inset -16px 0 0 0 rgb(32, 24, 16);
  transition: all 200ms;
  cursor: pointer;
}

input.switch:checked {
  box-shadow: inset 16px 0 0 0 #377409;
  border-color: rgb(124, 124, 124);
  transition: all 200ms;
}

input.switch-bad:checked {
  box-shadow: inset 16px 0 0 0 #6c1111;
  border-color: rgb(124, 124, 124);
}

input.switch-bad:checked ~ label {
  color: #6c1111;
  text-shadow: 0px 0px grey;
  cursor: pointer;
}

input.switch ~ label {
  cursor: pointer;
}

.h-switch {
  display: grid;
  align-items: center;
  grid-template-columns: auto auto;
  gap: 1em;
  justify-content: start;
}

.tbl {

}

.tbl-even {
  background-color: var(--form-bg)
}

.tbl-odd {
    background-color: transparent
}

.tbl-header {
  color: white;
  padding: 5px 0px 5px 0px;
}

.tbl-header--right {
  text-align: right;
  padding-right: 1.1em;
}

.tbl input {
  border-radius: 0;
  padding: .15em;
  color: white;
  font-size: .95em;
  text-overflow: ellipsis;
}

.tbl input[type='number'] {
  text-align: right
}

.tbl input:focus {
  background-color: var(--form-focus-bg);
}

.footer-btn {
  display: grid;
  align-items: center;
  justify-content: center;
  text-align: center;
  cursor: pointer;
  margin-top: 5px;
  padding: 4px;
  grid-template-columns: auto auto;
  gap: .5em;
  grid-column: 1/-1;
}

.footer-btn:hover {
  background-color: grey;
}

.nobg {
  background-color: transparent;
}

input.nospin::-webkit-inner-spin-button, 
input.nospin::-webkit-outer-spin-button { 
  -webkit-appearance: none; 
  margin: 0; 
}
