.object-position-1 {
  object-position: left bottom 
}
.object-position-2 {
  object-position: center bottom 
}
.object-position-3 {
  object-position: right bottom 
}
.object-position-4 {
  object-position: left center 
}
.object-position-5 {
  object-position: center center 
}
.object-position-6 {
  object-position: right center 
}
.object-position-7 {
  object-position: left top 
}
.object-position-8 {
  object-position: center top 
}
.object-position-9 {
  object-position: right top 
}

.imgx::after,
.imgx::before {
  content: '';
  position: absolute;
  background-color: darkred;
  border-radius: 5px;
  left:0;
  right:0;
  width:100%;
  height:11%;
  z-index : 1;
  top: 50%;
  filter: blur(1px) 
}
.imgx:before {
    transform:  rotate(45deg);
}
.imgx::after {
    transform: rotate(-45deg);
}
.imgx img {
  filter: grayscale(100%) blur(3px);
}
.imgx {
  position: relative;
}