<div class=" max">
  <div class="page page--wide">
    <div class="title">
      <h1>Marker Types</h1>
      <div class="toolbar">
        <div class="clickable" (click)="newMarkerCategory()" placement="bottom" ngbTooltip="Create a new folder">
          <fa-icon icon="folder-plus" size="lg"></fa-icon>
        </div>
        <button class="clickable white" (click)="newMarkerType()" placement="bottom" ngbTooltip="Create a new type of marker" [disabled]="!selected">
          <fa-icon icon="map-marker-plus" size="lg"></fa-icon>
        </button>
        <button class="clickable white" (click)="delete()" placement="bottom" ngbTooltip="Delete selected item" [disabled]="!selected">
          <fa-icon icon="trash-alt" size="lg"></fa-icon>
        </button>
        <div class="clickable" (click)="close()">
          <fa-icon icon="times" size="lg"></fa-icon>
        </div>
      </div>
    </div>
    <div class="outer">
      <div class="scroller dark-scroller">
        <app-expander [text]="folder.name" *ngFor="let folder of folders" (clk)="setFolder(folder)" [expanded]="true">
          <div class="marker-list">
            <ng-container *ngFor="let m of markers">
              <figure class="marker clickable" *ngIf="m.category == folder.id" (click)="setType(m)" [class.selected]="m == selected">
                <img [src]="m.url" height=45>
                <figcaption>{{m.name}}</figcaption>
              </figure>
            </ng-container>
          </div>
        </app-expander>
        <div class="announcement" *ngIf="folders.length == 0">
          <h2>Add a folder to get started!</h2>
        </div>
      </div>
      <div class="marker-edit">
        <app-edit-marker-type-category *ngIf="edit==true && sType=='cat'" [selected]="selected"></app-edit-marker-type-category>
        <app-edit-marker-type *ngIf="edit==true && sType=='type'" [selected]="selected"></app-edit-marker-type>
        <div class="buttonbar mt-2" *ngIf="edit==true">
          <button type="button" class="btn btn-outline-secondary btn-tool px-3" aria-label="Save" (click)="save()">
            <fa-icon icon="save" size="lg"></fa-icon> Save
          </button>
          <button type="button" class="btn btn-outline-secondary btn-tool" aria-label="Cancel" (click)="cancel()">
            <fa-icon icon="times" size="lg"></fa-icon> Cancel
          </button>
        </div>
        <div class="announcement" *ngIf="edit==false && folders.length > 0">
          <h2>Select an item to edit</h2> 
        </div>
      </div>
    </div>
  </div>
</div>