
.filter-div {
    position: relative;
    margin-top: .5em;
  }

.filter {
    background-color: transparent;
    width: 100%;
    color: white;
    margin-bottom: .2em;
}

.clear-filter-icon {
    display: flex;
    position: absolute;
    right: 6px;
    top: 0;
    bottom: 0;
    color: rgba(255, 255, 255, .4);
    cursor: pointer;
    align-items: center;
}

.clear-filter-icon:hover {
  color: rgba(255, 255, 255, 1)
}

.filter-icon {
    display: flex;
    position: absolute;
    left: 6px;
    top: 0;
    bottom: 0;
    color: rgba(255, 255, 255, .4);
    align-items: center;
}
.pack {
    display: flex;
    flex-direction: row;
    margin-top: 2px;
    margin-bottom: 2px;
    padding-top: 3px;
    padding-bottom: 3px;
}
.item-label {
    margin: 0;
    padding: 1px;
}

.scroll-marker-types {
    height: calc(100vh - 200px);
}