.attr-table {
  display: grid;
  grid-template-columns: auto  1.5em 1fr auto auto auto auto;
}

.hdr-span2 {
  grid-column: span 2;
  text-align: center
}

.color-pick {
  padding:7px;
  height: 70%;
  max-height: 100%;
  border-radius: 5px;
  border: solid 1px #6c757d;
}

.text-right {
  text-align: right
}

.attr-table input {
  color: white;
  border: 0;
}

.cell {
  display: flex;
  align-items: center;
  justify-content: center;
}

.attr-table .cell-item {
  border: 0;
}
.attr-table .cell-drop {
  background-color: transparent;
  color: white;
  border: 0;
}

.cell-drop option {
  background-color: #312e29;
  color: white;
}

.attr-footer {
  display: flex;
  align-items: center;
  justify-content: center;
  text-align: center;
  cursor: pointer;
  margin-top: 5px;
  padding: 4px;
}

.attr-footer:hover {
  background-color: grey;
}

.attr-table input::-webkit-outer-spin-button,
.attr-table input::-webkit-inner-spin-button {
    -webkit-appearance: none;
    margin: 0; /* <-- Apparently some margin are still there even though it's hidden */
}
.attr-table .num {
  text-align: right;
}

.attr-table .clickable {
  padding: 4px 4px;
  display: flex;
  align-items: center;
  justify-content: center;
}