<div *ngIf="size=='card'" class="item-card" [class.p1]="!expanded" [class.p2]="expanded">
  <a [routerLink]="[map.id]">
    <img class="image" [src]="map.thumb?map.thumb:'/assets/icons/maps.png'">
  </a>
  <h1 class="pointer" (click)="expanded=!expanded">{{map.name}}</h1>
  <div class="item-card-body scroller-dark">
    <span class="description">
      {{map.description}}
    </span>
  </div>
</div>

<a *ngIf="size=='small'" [routerLink]="[map.id]">
  <figure class="item-small-card">
    <img [defaultImage]="'/assets/icons/maps.png'" [lazyLoad]="map.thumb?map.thumb: '/assets/icons/maps.png'" class="image " >
    <figcaption>{{map.name}}</figcaption>
  </figure>
</a>


<ng-container *ngIf="size=='line' " class="item-line ">
  <div><a [routerLink]="[map.id] ">{{map.name}}</a></div>
  <div>{{map.type}}</div>
  <div>size</div>
</ng-container>