<div class="input-group">
  <input class="form-control form-control-sm" type="number" [ngModel]="dist" (change)="updateDist()">
  <div ngbDropdown placement="bottom-right">
    <button class="btn btn-outline-secondary toggle2" id="dropDownUnits" ngbDropdownToggle>{{unit}}</button>
    <div ngbDropdownMenu aria-labelledby="dropDownUnits">
      <button *ngFor="let u of units" class="dropdown-item btn-sm" placement="bottom" [ngbTooltip]="u.name" (click)="updateUnit(u.abbr)">{{u.name}}</button>
    </div>
  </div>
</div>