<div class="maps">
  <h1>Map Index</h1>
  <app-search-bar [items]="all" [fields]='fields' newText="New Map" [newLink]="[ '/', gameid, 'new-map'] " (itemsUpdated)="updateItems($event)"
    (scrollRequest)="scrollTo($event)" (viewChanged)="view=$event ">
  </app-search-bar>

  <div #list class="display scroller scroller-dark" [class.cards]='view==="card"' [class.cards-small]="view=='small'">
    <app-map-card *ngFor="let map of filtered " [map]="map " [size]="view " [gameid]='gameid' id="MAP_{{map.id}}"></app-map-card>
  </div>
</div>