.maps {
  display: grid;
  grid-template-rows: auto auto 1fr;
  max-height: 100vh;
  height: 100vh;
}

.maps h1 {
  color: white;
  padding: 10px;
  margin: 0;
}

.cards {
  /* 500 x350 */
  display: grid;
  grid-template-columns: repeat(auto-fill, 300px);
  grid-template-rows: repeat(auto-fit, 200px);
  gap:20px;
  justify-content: space-around;
}

.cards-small {
  display: grid;
  grid-template-columns: repeat(auto-fill, 200px);
  grid-template-rows: repeat(auto-fit, 150px);
  gap:20px;
  justify-content: space-evenly;
  margin: 20px;
}

.cards-line {
  display: grid;
  grid-template-columns: auto auto auto;
  gap:20px;
  justify-content: center;
  align-items: center;
}