
.outer {
  padding-top: 50px;
  height: 100%;
  max-height: 100vh;
  display : flex;
  flex-direction: column;
}

.topbar {
  background-color: rgba(0,0,0,.6);
  display: flex;
  justify-content: space-between;
  align-items: center;
  color: white;
  flex-shrink: 0;
}

.topbar .title {
 font-size: 2.5em;
 margin:0;
}

.card-area {
  margin-top: 20px;
  display: grid;
  grid-template-columns: repeat(auto-fit, 400px);
  gap:20px;
  justify-content: center;
}

.card-area figure {
  margin: 0;
}

.choice-card {
  width: 400px;
  height: 300px;
  position: relative;
  background-color: black;
}

.choice-card img {
  /* border-radius: 13px; */
  height: 100%;
  width: 100%;
  object-fit : cover;
  object-position: 50% 50%
}

.choice-card figcaption {
  color: white;
  position: absolute;
  height: 60px;
  top: 0px;
  bottom: 0px;
  left: 0px;
  right: 0px;
  margin: auto;
  background-color: rgba(0,0,0,.8);
  font-size: 1.6em;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  font-size: 2em;
}

.buttons {
  display: flex;
  align-items: center;
  margin: 0;
  padding: 0;
}

.topbar li {
  color: white;
  margin: 0px 5px 0px 5px;
  list-style: none;
  padding: 5px;
}

.topbar a {
  display: flex;
  justify-content: flex-end;
  align-items: center;
  flex-direction: column;
  text-decoration: none;
  color: white;
}

.topbar li:hover {
  background-color:   rgb(128,128,128);
}

.icon {
  display: block;
}

.tool-item {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.usr-logout {
  display: inherit;
}

.card-area .badge {
  position: absolute;
  right: 10px;
  top: 10px;
}


@media screen and (max-width: 600px) {
  .topbar {
    display: grid;
    grid-template-columns: auto auto;
  }
  .buttons {
    grid-row: 2
  }
  .topbar .title {
    grid-row: 1;
    grid-column: span 2;
    font-size: 1.3em;
    text-align: center;
    width: 100%;
  }
  .topbar user {
    grid-row: 1;
  }
  .card-area {
    display: flex;
    flex-direction: column;
    justify-content: start;
    align-items: center;
  }
  .outer {
    padding-top: 0;
  }
  .choice-card  {
    width: 95vw;
    max-width: 400px;
    height: 60px;
  }
  .card-area figure {
    margin-bottom: 20px;
  }
}