<div class="outer" *ngIf="game">
  <div class="topbar">
    <ul class="buttons">
      <li class="tool-item">
        <ng-container *ngIf="isViewer()"><fa-icon class="icon" icon="user" size="lg"></fa-icon> Viewer</ng-container>
        <ng-container *ngIf="isPlayer()"><fa-icon class="icon" icon="user-shield" size="lg" (click)="toggleUserStatus()" ></fa-icon> Player</ng-container>
        <ng-container *ngIf="isGM()"    ><fa-icon class="icon" icon="user-crown" size="lg" (click)="toggleUserStatus()"></fa-icon> GM</ng-container>
      </li>
      <!-- <a routerLink="/games">
        <li class="tool-item">
          <fa-icon class="icon" icon="home" size="lg"></fa-icon> Home
        </li>
      </a>
      <a routerLink="/admin">
        <li class="tool-item">
          <fa-icon class="icon" icon="cog" size="lg"></fa-icon> Admin
        </li>
      </a>
      <li class="tool-item" (click)="settings()">
        <fa-icon class="icon" icon="sliders-h" size="lg"></fa-icon> Settings
      </li> -->

      <a routerLink="edit">
        <li class="tool-item">
          <fa-icon class="icon" icon="pencil-alt" size="lg"></fa-icon> Edit
        </li>
      </a>
      <li class="tool-item" (click)="delete()">
        <fa-icon class="icon" icon="trash-alt" size="lg"></fa-icon> Delete
      </li>
    </ul>
    <div class="title" appTextfit>{{game.name}}</div>
  </div>
  <div class="card-area scroller scroller-dark">
    <a [routerLink]="['characters']">
      <figure class="choice-card">
        <img src="./assets/icons/characters.png">
        <figcaption>Characters</figcaption>
        <span class="badge badge-info">{{cntCharacters}}</span>
      </figure>
    </a>
    <a [routerLink]="['maps']">
      <figure class="choice-card">
        <img src="./assets/icons/maps.png">
        <figcaption>Maps</figcaption>
        <span class="badge badge-info">{{cntMaps}}</span>
      </figure>
    </a>
    <a [routerLink]="['encounters']" *ngIf="enableEncounters">
      <figure class="choice-card">
        <img src="./assets/icons/encounters.png">
        <span class="badge badge-info">{{cntEncounters}}</span>
        <figcaption>Encounters</figcaption>
      </figure>
    </a>
    <a [routerLink]="['monsters']">
      <figure class="choice-card">
        <img src="./assets/icons/monsters.png">
        <figcaption>Monsters</figcaption>
        <span class="badge badge-info">{{cntMonsters}}</span>
      </figure>
    </a>
    <a [routerLink]="['items']" *ngIf="enableItems">
      <figure class="choice-card">
        <img src="./assets/icons/items.png">
        <figcaption>Magic Items</figcaption>
        <span class="badge badge-info">{{cntItems}}</span>
      </figure>
    </a>
    <a [routerLink]="['spells']" *ngIf="enableSpells">
      <figure class="choice-card">
        <img src="./assets/icons/spells.png">
        <figcaption>Spells</figcaption>
        <span class="badge badge-info">{{cntSpells}}</span>
      </figure>
    </a>
  </div>
</div>