<h1>Encounters </h1>
<div class="center-layout">
  <div class="buttongrid" *ngIf="edit==false && selected">
    <button *ngIf="selected" class="btn btn-outline-secondary btn-tool" (click)="startEdit()" placement="bottom" ngbTooltip="Edit this Encounter">
      <fa-icon icon="pencil-alt" size="lg"></fa-icon>
    </button>
    <button *ngIf="selected && selected.map" class="btn btn-outline-secondary btn-tool" (click)="openMap()" placement="bottom"
      ngbTooltip="Open the linked map">
      <fa-icon icon="map-marked-alt" size="lg"></fa-icon>
    </button>
    <button *ngIf="selected " class="btn btn-outline-secondary btn-tool" (click)="toggleCardSize()" placement="bottom" ngbTooltip="Toggle Card Size">
      <fa-icon *ngIf="cardSize=='regular' " [fixedWidth]="true" icon="th-list" size="lg"></fa-icon>
      <fa-icon *ngIf="cardSize=='small' " [fixedWidth]="true" icon="grip-horizontal" size="lg"></fa-icon>
    </button>
    <button *ngIf="selected" class="btn btn-outline-secondary btn-tool" (click)="delete()" placement="bottom" ngbTooltip="Delete this Encounter">
      <fa-icon icon="trash-alt" size="lg"></fa-icon>
    </button>
    <button *ngIf="selected" class="btn btn-outline-secondary btn-tool" (click)="close()" placement="bottom" ngbTooltip="Close this Encounter">
      <fa-icon icon="times" size="lg"></fa-icon>
    </button>

    <button *ngIf="selected" class="btn btn-outline-secondary btn-tool" (click)="fr()" placement="bottom" ngbTooltip="Previous Round">
      <fa-icon icon="fast-backward" size="lg"></fa-icon>
    </button>
    <button *ngIf="selected" class="btn btn-outline-secondary btn-tool" (click)="prevTurn()" placement="bottom" ngbTooltip="Previous Turn">
      <fa-icon icon="step-backward" size="lg"></fa-icon>
    </button>
    <button *ngIf="selected" class="btn btn-outline-secondary btn-tool" (click)="nextTurn()" placement="bottom" ngbTooltip="Current Round">
      <!-- <fa-layers class="fa-lg">
        <fa-icon icon="square-full"></fa-icon>
        <fa-layers-text content="{{round}}" style="color:black; font-weight: 900" transform="shrink-4"></fa-layers-text>
      </fa-layers> -->
      <h2>{{round}}</h2>
    </button>
    <button *ngIf="selected" class="btn btn-outline-secondary btn-tool" (click)="nextTurn()" placement="bottom" ngbTooltip="Next Turn">
      <fa-icon icon="step-forward" size="lg"></fa-icon>
    </button>
    <button *ngIf="selected" class="btn btn-outline-secondary btn-tool" (click)="ff()" placement="bottom" ngbTooltip="Next Round">
      <fa-icon icon="fast-forward" size="lg"></fa-icon>
    </button>
  </div>
  <div class="buttonbar" *ngIf="edit==false && selected== undefined">
    <button *ngIf="selected==undefined" class="btn btn-outline-secondary btn-tool" (click)="newEncounter()" placement="bottom"
      ngbTooltip="Create a New Encounter">
      <fa-icon icon="plus" size="lg"></fa-icon>
    </button>
  </div>
  <div class="buttonbar" *ngIf="edit==true">
    <button type="button" class="btn btn-outline-secondary btn-tool px-3" aria-label="Save" (click)="save()">
      <fa-icon icon="save" size="lg"></fa-icon> Save
    </button>
    <button type="button" class="btn btn-outline-secondary btn-tool" aria-label="Close" (click)="cancel()">
      <fa-icon icon="times" size="lg"></fa-icon> Cancel
    </button>
  </div>
</div>

<!-- Displays a list of encounters -->
<ng-container *ngIf="edit==false && selected==undefined">
  <app-filterinput (filterChanged)="updateFilter($event)"></app-filterinput>
  <div class="tab-card-list">
    <div class="tab-card" [class.even-card]="even" *ngFor="let item of filtered; let even=even" (click)="select(item)">
      <h2>{{item.name}}</h2>
      <app-readmore *ngIf="item.description" [value]="item.description"></app-readmore>
      <app-tags [tags]="item.tags"></app-tags>
    </div>
  </div>
</ng-container>

<!-- Displays a single encounter -->
<app-encounter *ngIf="edit==false && selected" [cardSize]="cardSize" [selected]="selected" [turn]='turn'></app-encounter>

<app-edit-encounter #encounterEdit *ngIf="edit==true && selected" [selected]="selected"></app-edit-encounter>