.inputfile {
	width: 0.1px;
	height: 0.1px;
	opacity: 0;
	overflow: hidden;
	position: absolute;
	z-index: -1;
}

.attachments-tbl {
  display: grid;
  grid-template-columns: 1fr auto auto;
}

.centered {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.drop-area {
  grid-column: span 2;
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;

  color: black;
  margin: 5px;
  position: relative;
}

.drop-target * {
  pointer-events: none;
}

.drop-area label {
  /* padding: 20px; */
  color: grey;
  cursor: pointer;
  display: flex;

  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.outlined {
  border: 3px dashed green;
  border-radius: 4px;
}

.drop-area img {
  max-height: 400px;
  max-width: 350px;
}

.infront {
  position: absolute;
  left: 0;
  right: 0;
  bottom: 0;
  top: 0;
  color: lightgray;
  height: 75px;
  margin: auto;
  /* background-color: rgba(127, 127, 127, .2); */
  /* text-shadow: 1px 1px black */
}

.pic-area {
  display: grid;
  grid-template-columns: auto 1fr;
  gap: 10px;
}

.position-area {
  display: grid;
  grid-template-columns: 30px 30px 30px;
  grid-template-rows: 30px 30px 30px;
}

.position-btn {
  display: flex;
  justify-content: center;
  align-items: center;
}

.token-area {
  display: flex;
  justify-items: stretch;
  align-content: stretch;
}
