<div class="page-center">
  <div class="page">
    <div class="topbar">
      <div class="tool-bar" (click)="logout()">
        <li>
          <fa-icon class="icon" icon="sign-out-alt" size="lg"></fa-icon>Log Out
        </li>
      </div>
      <div class="user-title">
        <img [src]="user.photo" class="user-photo user-item ">
        <h1 class="user-name mb-0 pb-0 ">{{ user.name }}</h1>
      </div>
      <div class="tool-bar">
       
        <li (click)="close()">
          <fa-icon icon="times" class="icon" size="lg"></fa-icon>Close
        </li>
      </div>
    </div>

    <h3>Display Name</h3>
    <input class="form-control" type='text' [(ngModel)]="user.displayName" (blur)="save()">

    <h3 class="mt-3">My Preferences</h3>
    <small class="form-text text-muted mb-2">These are preferences that apply only to your experience and are not
      shared with
      others.
    </small>

    <div class="pref-list">
      <app-checkbox class="mb-1" mode='check' [(ngModel)]='prefs.expandTabOnSelect' (checkchange)="updatePrefs()"
        placement="bottom" ngbTooltip="Automatically expand the annotation tab when you select an item">Expand Tab On
        Select</app-checkbox>
      <app-checkbox class="mb-1" mode='check' [(ngModel)]='prefs.showScale' (checkchange)="updatePrefs()" placement="bottom"
        ngbTooltip="Display the map scale on each of the maps">Show
        Map Scale</app-checkbox>
      <app-checkbox class="mb-1" mode='check' [(ngModel)]='prefs.showCoords' (checkchange)="updatePrefs()" placement="bottom"
        ngbTooltip="Display the map coordiantes of the mouse">Show
        Map Coordinates</app-checkbox>
      <app-checkbox class="mb-1" mode='check' [(ngModel)]='prefs.use3dDice' (checkchange)="updatePrefs()" placement="bottom"
        ngbTooltip="Emulate dice rolling using 3D Dice">Roll
        3D Dice</app-checkbox>
      <app-checkbox class="mb-1" mode='check' [(ngModel)]='prefs.sounds' (checkchange)="updatePrefs()" placement="bottom"
        ngbTooltip="Enable sounds for effects (like dice rolling)">Enable
        Sounds
      </app-checkbox>
    </div>
  </div>
</div>