<div class="bg">
  <h1 class="title"> Monster Index</h1>

  <app-search-bar #search [items]="all" [fields]="fields" newText="New Monster" [newLink]="['/', gameid, 'new-monster']"
    (itemsUpdated)="updateItems($event)" (scrollRequest)="scrollTo($event)" (viewChanged)="updateView($event)" [game]="game"
    [type]="type" [submitOnChange]="true" [views]="['card', 'small']">
  </app-search-bar>

  <div class="border-wrapper">
    <od-virtualscroll [vsData]="data$" [vsOptions]="options$" [vsUserCmd]="cmd$">
      <ng-template let-item let-row="row" let-column="column">
        <div class="cell">
          <a routerLink="{{item.id}}">
            <app-monster-card [size]='view' [item]="item" [game]="game"></app-monster-card>
          </a>
        </div>
      </ng-template>
    </od-virtualscroll>
  </div>
</div>