h1 {
  padding: 10px;
}

.results {
  margin: 20px;
}

.cards {
  display: grid;
  grid-template-columns: repeat(auto-fill, 320px);
  grid-gap: 20px;
  justify-content: space-around;
}

.cards-small {
  display: grid;
  grid-template-columns: repeat(auto-fill, 125px);
  grid-gap: 20px;
  justify-content: space-around;
}

.bg {
  display: grid;
  grid-template-rows: auto auto auto 1fr;
  max-height: 100vh;
  height: 100vh;
}

.overlay {
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  opacity: 0;
  transition: .3s ease;
  background-color:  rgba(0, 140, 186, 0.5);
  border-radius: 6px;
}

.title {
  color : white;
  font-size: 1.5em
}

.filter-area {
  display: flex;
  justify-content: center;
}

.input-grp {
  width: 50%;
  position: relative;
}

.badge-overlay {
  position: absolute;
  right: 0;
  top: 0;
  margin: 2px;
}

.loading {
  position: absolute;
  height: 100px;
  margin: auto;
  left: 0;
  right: 0;
  top: 0;
  bottom: 0;
  padding: 50px;
  background-color: rgba(0,0,0,.7);
  color: white;
  font-size: 2em;
  display: flex;
  justify-content: center;
  align-items: center;
}

.loading h1 {
  margin-left: 20px;
}

.indx-btn {
  background-color: black;
  display: flex;
  justify-content: center;
  color: white;
}
.indx-btn .btn-link {
  color: whitesmoke;
  text-decoration: none;
}

@media(max-width: 700px) {
  .search input{
    width: 100%;
  }
  .search {
    margin: 15px 0px;
  }

  .results  {
    grid-gap: 5px;

    grid-template-columns: repeat(auto-fill, 125px);
  }
  .input-grp {
    width: 100%;
    position: relative;
  }

  .filter-area {
    display: flex;
    flex-direction: column;
    justify-content: center;
  }
}