.tree {
    height: 500px;
    overflow: auto;
}
h6 {
    margin-top: .4em;
}
.cat-style {
    padding: 5px 2px;
}
.auto {
    margin: 0 auto;
}
.selected {
    outline: 2px solid blue;
    outline: 5px auto -webkit-focus-ring-color;
}

.filter-div {
    position: relative;
  }

.filter {
    background-color: transparent;
    width: 100%;
    color: black;
    margin-bottom: .2em;
    padding-left: 24px;
}

.clear-filter-icon {
    display: flex;
    position: absolute;
    right: 6px;
    top: 0;
    bottom: 0;
    color: rgba(0, 0, 0, .4);
    cursor: pointer;
    align-items: center;
}

.clear-filter-icon:hover {
  color: rgba(0, 0, 0, 1)
}

.filter-icon {
    display: flex;
    position: absolute;
    left: 6px;
    top: 0;
    bottom: 0;
    color: rgba(0, 0, 0, .4);
    align-items: center;
}