.area {
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-gap: 10px;
}

.center {
    display: flex;
    justify-content: center;
}

.custom-file-upload {
    border: 1px solid #ccc;
    padding: 6px 12px;
    cursor: pointer;
}

.inputfile {
	width: 0.1px;
	height: 0.1px;
	opacity: 0;
	overflow: hidden;
	position: absolute;
	z-index: -1;
}

.file-div {
    /* border: 3px solid rgb(150, 150, 150); */
    box-sizing: border-box;
    display: flex;
    justify-content: center; /* align horizontal */
    align-items: center; /* align vertical */
    /* max-width: 242px; */
}

@media (min-width: 650px) {
  .areas {
    display: grid;
    grid-template-columns: 300px 300px;
    gap: 30px;
    justify-content: start;
    align-items: flex-start;
    grid-auto-flow: row dense;
  }

  .pic-area {
    grid-column: 1;
    grid-row : span 2;
  }
  .center-area {
    grid-column: span 2
  }
  .right-area {
    grid-column: 2
  }
}
