<div class="page-center">
  <div class="page scroller-dark">
    <app-edit-toolbar [item]="item" (onSave)="save()"></app-edit-toolbar>
    <div class="form-group">
      <label>Name</label>
      <input type="text" class="form-control " id="name" placeholder="Enter Map Name" [(ngModel)]="item.name">
    </div>
    <app-edit-picture [picture]="image" (choice)="updatePicture($event)"></app-edit-picture>
    <div class="area">
      <div class="form-group">
        <label>Height</label>
        <input id="dim" type="text" class="form-control form-control-sm" id="name" placeholder="Enter Height" [(ngModel)]="item.height">
      </div>
      <div class="form-group">
        <label>Width</label>
        <input id="dim" type="text" class="form-control form-control-sm" id="name" placeholder="Enter Width" [(ngModel)]="item.width">
      </div>
    </div>
    <div class="form-group">
      <label>Category</label>
      <app-map-type-combo [(ngModel)]="item.mapType" [map]="item"></app-map-type-combo>
    </div>
    <div class="form-group">
      <label for="tags">Tags</label>
      <tag-input [(ngModel)]="item.tags" [separatorKeys]="[',']" [modelAsStrings]="true" [theme]="'foundation-theme'"></tag-input>
    </div>
    <div class="form-group">
      <label>Default Marker</label>
      <app-marker-combo [(ngModel)]="item.defaultMarker" [map]="item"></app-marker-combo>
    </div>
    <div class="form-group">
      <label for="description">Description</label>
      <textarea class="form-control form-control-sm" rows="3" id="description" placeholder="Enter Description" [(ngModel)]="item.description"></textarea>
    </div>
  </div>
</div>