.pack {
    display: flex;
    flex-direction: row
}

.block-link {
    display: block;
}

.center {
    margin-top: 20px;
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;
}

.subdued {
    width: 100%;
    color: rgba(68, 68, 68, 0.9)
}