.pack {
    display: flex;
    flex-direction: row
}

.block-link {
    display: block;
}

.drop-target {
    /* border: 2px solid white; */
    background-color: steelblue;
}

.center {
    display: flex;
    align-items: center;
    justify-content: center;

}
