<h1>Layers</h1>
<small class="form-text text-muted mb-2">Select the data to show on the map</small>

<div class="scroller">
    <ng-container *ngFor="let g of groups">
        <div class="pack">
            <fa-icon (click)="isCollapsed[g.id] = !isCollapsed[g.id]" [fixedWidth]="true" size="lg" [icon]="isCollapsed[g.id] ? 'caret-right' : 'caret-down'"></fa-icon>
            <div class="custom-control custom-checkbox">
                <input type="checkbox" class="custom-control-input" id="{{g.id}}" [(unchecklist)]="shownGroups" [unchecklistValue]="g.id">
                <label class="custom-control-label" for="{{g.id}}">{{g.name}}</label>
            </div>
        </div>
        <div [ngbCollapse]="isCollapsed[g.id]" class="ml-5">
            <div class="custom-control custom-checkbox" *ngFor="let m of getMarkers(g)">
                <input type="checkbox" class="custom-control-input" id="{{m.id}}" [(unchecklist)]="shownMarkers" [unchecklistValue]="m.id">
                <label class="custom-control-label" for="{{m.id}}"> {{m.name}}</label>
            </div>
        </div>
    </ng-container>
    <div class="pack">
        <fa-icon (click)="isCollapsed['UNGROUPED'] = !isCollapsed['UNGROUPED']" [fixedWidth]="true" size="lg" [icon]="isCollapsed['UNGROUPED'] ? 'caret-right' : 'caret-down'"></fa-icon>
        <div class="custom-control custom-checkbox">
            <input type="checkbox" class="custom-control-input" id="U" [(unchecklist)]="shownGroups" [unchecklistValue]="'UNGROUPED'">
            <label class="custom-control-label" for="U">Ungrouped</label>
        </div>
    </div>
    <div [ngbCollapse]="isCollapsed['UNGROUPED']" class="ml-5">
        <div class="custom-control custom-checkbox" *ngFor="let m of getUngroupedMarkers(g)">
            <input type="checkbox" class="custom-control-input" id="{{m.id}}" [(unchecklist)]="shownMarkers" [unchecklistValue]="m.id">
            <label class="custom-control-label" for="{{m.id}}"> {{m.name}}</label>
        </div>
    </div>
</div>