<div class="modal-header">
  <h4 class="modal-title">
    <fa-icon icon="question-circle" size="lg"></fa-icon> {{title}}</h4>
  <button type="button" class="close" aria-label="Close" (click)="activeModal.dismiss('Cross click')">
    <span aria-hidden="true">&times;</span>
  </button>
</div>
<div class="modal-body">
  <h4>Recent</h4>

  <div *ngFor="let category of getCategoriesForMap()">
    <h4>{{category}}</h4>
    <div>
      <div class="selectable-item" *ngFor="let markerType of getTypesIn(category)">
        <img [src]="markerType.icon" class="icon">
        <span class="icon-text">{{markerType.name}}</span>
      </div>
    </div>
  </div>

</div>
<div class="modal-footer">
  <button type="button" class="btn btn-success dialog" (click)="anwser(true)">{{yesText}}</button>
  <button type="button" class="btn btn-success dialog" (click)="anwser(false)">{{noText}}</button>
</div>