.custom-file-upload {
    /* border: 1px solid #ccc; */
    display: inline-block;
    padding: 6px 12px;
    cursor: pointer;
}

.inputfile {
	width: 0.1px;
	height: 0.1px;
	opacity: 0;
	overflow: hidden;
	position: absolute;
	z-index: -1;
}

.file-div {
    /* border: 3px solid rgb(150, 150, 150); */
    box-sizing: border-box;
    display: flex;
    justify-content: center; /* align horizontal */
    align-items: center; /* align vertical */
    max-width: 60px;
    max-height: 60px;
}

.border {
    border: 1px solid white;
    padding: 20px;
    margin-top: 10px;
}