
<div class="page-center">
  <div class="page page-tooltop scroller-dark">
  <div class="tool-bar">
    <a [routerLink]="['/home']" ><li><fa-icon icon="home" class="icon"  size="lg"></fa-icon>Home</li></a>
  </div>
    <h2>Pathfinder</h2>
    
    <h3>Monsters </h3>
    
    Cache Information
    <app-cache-info></app-cache-info>



  <div>
  <button class="btn btn-outline-secondary" (click)="migrate()">Migrate</button>
</div>
<div>
  <h2>Import Monsters</h2>
  <input type="file" (change)="impMonsters()">
</div>

