
<div class="page-center">
  <div class="page page-tooltop scroller-dark">
    <h2>Pathfinder</h2>
    
    <div class="actions">
      <h3>Monsters</h3>
      <button class="btn btn-outline-secondary" (click)="impMonsters()">Import from CSV</button>
      <button class="btn btn-outline-secondary" (click)="delMonsters()">Delete All</button>
      <button class="btn btn-outline-secondary" (click)="unk()">Set Global Restrictions</button>
      <button class="btn btn-outline-secondary" (click)="unk()">Set Editors</button>

      <h3>Items</h3>
      <button class="btn btn-outline-secondary" (click)="impMonsters()">Import from CSV</button>
      <button class="btn btn-outline-secondary" (click)="delMonsters()">Delete All</button>
      <button class="btn btn-outline-secondary" (click)="unk()">Set Global Restrictions</button>
      <button class="btn btn-outline-secondary" (click)="unk()">Set Editors</button>

      <h3>Spells</h3>
      <button class="btn btn-outline-secondary" (click)="impMonsters()">Import from CSV</button>
      <button class="btn btn-outline-secondary" (click)="delMonsters()">Delete All</button>
      <button class="btn btn-outline-secondary" (click)="unk()">Set Global Restrictions</button>
      <button class="btn btn-outline-secondary" (click)="unk()">Set Editors</button>

      <h3>NPCS</h3>
      <button class="btn btn-outline-secondary" (click)="impMonsters()">Import from CSV</button>
      <button class="btn btn-outline-secondary" (click)="delMonsters()">Delete All</button>
      <button class="btn btn-outline-secondary" (click)="unk()">Set Global Restrictions</button>
      <button class="btn btn-outline-secondary" (click)="unk()">Set Editors</button>

      <h3>Monsters</h3>
      <button class="btn btn-outline-secondary" (click)="impMonsters()">Import from CSV</button>
      <button class="btn btn-outline-secondary" (click)="delMonsters()">Delete All</button>
      <button class="btn btn-outline-secondary" (click)="unk()">Set Global Restrictions</button>
      <button class="btn btn-outline-secondary" (click)="unk()">Set Editors</button>
      
    </div>


  <div>
  <button class="btn btn-outline-secondary" (click)="migrate()">Migrate</button>
</div>
<div>
  <h2>Import Monsters</h2>
  <input type="file" (change)="impMonsters($event)">
</div>

