<div class="dlg">
  <div class="header">
    <h1> Distance Calibrate </h1>
  </div>
  <div class="bdy">
    Enter the distance and units for the line you measured.
    <div class="limit500 mt-2">
      <label for="pName">Distance</label>
      <input #input type="text" class="form-control" id="pName" placeholder="Distance" [(ngModel)]="value" name="name">
      <label for="pUnits mt-2">Units</label>
      <select class="form-control" id="pUnits" [(ngModel)]="unit" name="units2">
        <option *ngFor="let u of units" [value]="u.abbr">{{u.name}}</option>
      </select>
    </div>
  </div>
  <div class="footer">
    <button type="button" class="btn btn-outline-secondary" (click)="ok()"><fa-icon icon="check" size="lg" class="mr-2"></fa-icon>OK</button>
    <button type="button" class="btn btn-outline-secondary" (click)="activeModal.dismiss('Cancel')"><fa-icon icon="times"
        size="lg" class="mr-2">
      </fa-icon>Cancel</button>
  </div>
</div>