<div class="modal-header">
  <h4 class="modal-title">
    <fa-icon icon="ruler"></fa-icon> Distance Calibrate</h4>
  <button type="button" class="close" aria-label="Close" (click)="activeModal.dismiss('Cross click')">
    <span aria-hidden="true">&times;</span>
  </button>
</div>
<div class="modal-body">
  <form>
    <div class="form-group">
      <small id="emailHelp" class="form-text text-muted">Enter the distance and units for the line you measured. This will be used to calibrate the map</small>

      <label for="pName">Distance</label>
      <input #input type="text" class="form-control" id="pName" placeholder="Distance" [(ngModel)]="value" name="name">
      <label for="pUnits">Units</label>
      <select class="form-control" id="pUnits" [(ngModel)]="unit" name="units2">
        <option *ngFor="let u of units" [value]="u.abbr">{{u.name}}</option>
      </select>
    </div>
  </form>
</div>
<div class="modal-footer">
  <button type="button" class="btn btn-success dialog" (click)="ok()">OK</button>
  <button type="button" class="btn btn-outline-dark dialog" (click)="activeModal.dismiss('Cancel')">Cancel</button>
</div>