<h1>Select Character</h1>
<div class="center-layout">
  <div class="buttonbar" *ngIf="edit==false">
    <button class="btn btn-outline-secondary btn-tool" (click)="newFolder()" placement="bottom" ngbTooltip="New Folder for Character">
      <fa-icon icon="folder" size="lg"></fa-icon>
    </button>
    <button class="btn btn-outline-secondary btn-tool" (click)="newCharacter()" placement="bottom" ngbTooltip="Crate a new Character">
      <fa-icon icon="plus" size="lg"></fa-icon>
    </button>
    <button *ngIf="folder" class="btn btn-outline-secondary btn-tool" (click)="editStart()" placement="bottom" ngbTooltip="Edit the selected item">
      <fa-icon icon="pencil-alt" size="lg"></fa-icon>
    </button>
    <button *ngIf="folder" class="btn btn-outline-secondary btn-tool" (click)="delete()" placement="bottom" ngbTooltip="Delete the selected item">
      <fa-icon icon="trash-alt" size="lg"></fa-icon>
    </button>
  </div>

  <div class="buttonbar" *ngIf="edit==true">
    <button type="button" class="btn btn-outline-secondary btn-tool px-3" aria-label="Close" (click)="save()">
      <fa-icon icon="save" size="lg"></fa-icon> Save
    </button>
    <button type="button" class="btn btn-outline-secondary btn-tool" aria-label="Close" (click)="cancel()">
      <fa-icon icon="times" size="lg"></fa-icon> Cancel
    </button>
  </div>
</div>
<ng-container *ngIf="edit==false">
  <div class="filter-div">
    <input type="text" class="form-control form-control-sm filter" placeholder="filter" [ngModel]="filter" (ngModelChange)="filterUpdate($event)">
    <div class="clear-filter-icon" (click)="clearFilter()" *ngIf='filter.length>0'>
      <fa-icon icon="times" size="lg"></fa-icon>
    </div>
  </div>
  <div class="white scroller scroller-dark mt-2 map-scroll" *ngIf="filtered">
    <ng-container *ngIf="recent && recent.length > 0 && filter==''">
      <h2 class="pointer noselect" (click)="isCollapsed['recent'] = !isCollapsed['recent']">
        <fa-icon [fixedWidth]="true" size="lg" [icon]="isCollapsed['recent'] ? 'caret-right' : 'caret-down'"></fa-icon> Recent
      </h2>
      <div [ngbCollapse]="isCollapsed['recent']" class="recent-div">
        <div *ngFor="let m of recent" class="recent">
          <figure (click)="select(m)" placement="bottom" [ngbTooltip]="m.name">
            <img [src]='m.thumb' height="52">
            <div class="overlay">
              <fa-icon class="icon" icon="check"></fa-icon>
            </div>
          </figure>
        </div>
      </div>
    </ng-container>

    <div *ngFor="let mt of filtered ">

      <div [class.selected]="folder==mt" class="my-1 mx-0 noselect pack">
        <fa-icon class="pointer" (click)="isCollapsed[mt.id] = !isCollapsed[mt.id]" [fixedWidth]="true" size="lg" [icon]="isCollapsed[mt.id] ? 'caret-right' : 'caret-down'"></fa-icon>
        <h2 class="pointer my-0" (click)="selectFolder(mt)" (dblclick)="isCollapsed[mt.id] = !isCollapsed[mt.id]">
          {{mt.name}}
        </h2>
      </div>

      <!-- <h2 class="pointer noselect" (click)="isCollapsed[mt.id] = !isCollapsed[mt.id]">
        <fa-icon [fixedWidth]="true" size="lg" [icon]="isCollapsed[mt.id] ? 'caret-right' : 'caret-down'"></fa-icon> {{mt.name}}
      </h2> -->
      <div [ngbCollapse]="isCollapsed[mt.id]">
        <div class="small">
          <figure (click)="select(m)" class="figure-choice" *ngFor="let m of mt._characters">
            <img [src]='m.picture?m.picture:"/assets/missing.png"'>
            <figcaption>{{m.name}}</figcaption>
            <div class="overlay">
              <fa-icon class="icon" icon="check" size="2x"></fa-icon>
            </div>
          </figure>
        </div>
      </div>
    </div>
    <div *ngIf="filtered.length == 0">
      No characters are available. Perhaps you should
      <button class="btn btn-link" (click)="newMap()">Create One!</button>
    </div>
  </div>
</ng-container>
<!-- <app-edit-map #editmap [map]="newMapCfg" *ngIf="edit==true && newMapCfg"></app-edit-map> -->
<app-edit-character-type #editfolder [selected]="folder" *ngIf="edit==true && folder"></app-edit-character-type>