<div class="dlg">
  <div class="header">
    <h1> Sort By</h1>
  </div>
  <div class="bdy">
    <div class="sort-list">
      <ng-container *ngFor="let item of selection.sortFields">
        <fa-icon icon="sort-amount-up" class="sort-item" (click)="setSort(item, 1)" (dblclick)="ok()" [class.sort-item-active]="selection && selection.direction ==1 && selection.sortField == item"></fa-icon>
        <fa-icon icon="sort-amount-down" class="sort-item" (click)="setSort(item, -1)" (dblclick)="ok()" [class.sort-item-active]="selection && selection.direction ==-1 && selection.sortField == item"></fa-icon>
        {{item.name}}
      </ng-container>
    </div>
  </div>
  <div class="footer">
    <button [disabled]="!selection" type="button" class="btn btn-outline-secondary" (click)="ok()"><fa-icon icon="check"
        size="lg" class="mr-2"></fa-icon>OK</button>
    <button type="button" class="btn btn-outline-secondary" (click)="cancel()"><fa-icon icon="times" size="lg" class="mr-2">
      </fa-icon>Cancel</button>
  </div>