.center {
    display: flex;
    justify-items: center;
}
.wide {
    width: 100%;
}
.dropdown-menu {
    min-width: 1rem;
}
.dropdown-toggle::after {
    display: none;
}
.dropdown-item:hover {
  background-color: lightgray;
}