<div class="login-container">
  <div class="login">
    <img src="./assets/icons/icon-72x72.png">
    <h1>Welcome, please sign in.</h1>
    <button type="button" class="btn btn-outline-secondary admin-btn" (click)="loginGoogle()">
      <fa-icon [icon]="['fab', 'google']" size="lg" inverse='true'></fa-icon>
      <span>&nbsp;&nbsp;&nbsp;Sign in with Google</span>
    </button>
    <button type="button" class="btn btn-outline-secondary admin-btn" (click)="loginGithub()">
      <fa-icon [icon]="['fab', 'github']" size="lg" inverse='true'></fa-icon>
      <span>&nbsp;&nbsp;&nbsp;Sign in with Github</span>
    </button>
  </div>
</div>