
.login-container {
    /* background-image: url('/assets/background2.jpg'); */
    background-size: cover;
    display: flex;
    flex-direction: column;
    justify-content: center;
    height : 100vh;
    align-items: center
}

@media (max-width: 1000px) {
  .login-container {
    background-image: url('/assets/background-1000.jpg');
  }
}
@media (max-width: 1960px) and (min-width: 1001px) {
  .login-container {
    background-image: url('/assets/background-1960.jpg');
  }
}
@media (min-width: 1961px) {
  .login-container {
    background-image: url('/assets/background2.jpg');
  }
}

.login {
    color: white;
    min-width: 300px;
    width: 50%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 40px;
    background-color: rgba(34, 34, 34, .9);
    border-radius: 10px;
    font-size: 1.3em;
    box-shadow: 2px 2px 9px black;
}

.login button {
    margin-top: 20px;
    width : 240px;
    display: flex;
    color: white;
    justify-content: center
}