.select-list {
 display: flex;
 flex-wrap: wrap;
 gap: 10px;
 margin-top: 4px;
 justify-content: center;
}

.select-list figure {
  display: block;
  position: relative;
  overflow: hidden;
  width: 105px;
  height: 150px;
  border-radius: 6px;
  cursor: pointer;
  margin: 3px 3px 3px;
}
.bdy {
  overflow-y: auto;
}

.select-list img {
  transition: transform ease-in-out 200ms;
  width: 100%;
  object-fit: cover;
  object-position: 50% 50%;
  height:  100%;
}

.select-list img:hover {
  transform: scale(1.2);
}

.select-list figure:hover {
    filter: drop-shadow(0px 0px 3px white);
}

.select-list figcaption {
    position: absolute;
    bottom: 0;
    left: 0;
    right: 0;
    padding: .2em;
    background-color:  rgba(67, 70, 75, 0.7);
    text-align: center;
}

.selected {
  color: white;
  display: flex;
  align-items: center;
  justify-content: center;
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  opacity: 1;
  transition: .3s ease;
  background-color:  rgba(0, 140, 186, 0.5);
}

.select-list  figure:hover .selected {
    opacity: 1;
  }