.tree {
    height: 500px;
    overflow: auto;
}
h6 {
    margin-top: .4em;
}
.cat-style {
    padding: 5px 2px;
}
.auto {
    margin: 0 auto;
}
.selected {
    outline: 2px solid blue;
    outline: 5px auto -webkit-focus-ring-color;
}

.custom-file-upload {
    border: 1px solid #ccc;
    display: inline-block;
    padding: 6px 12px;
    cursor: pointer;
}

.inputfile {
	width: 0.1px;
	height: 0.1px;
	opacity: 0;
	overflow: hidden;
	position: absolute;
	z-index: -1;
}

.file-div {
    border: 3px solid rgb(150, 150, 150);
    box-sizing: border-box;
    display: flex;
    justify-content: center; /* align horizontal */
    align-items: center; /* align vertical */
}

.drop-target {
    outline: 2px solid blue;
    outline: 5px auto -webkit-focus-ring-color;  
}

