<div class="overall">
  <div>
    <app-picture-tile class="pic" size="square-sm" [picture]="getPic()" [caption]="getType()" canCheck="true" checkIcon="times"
      (checkChange)="checkChange($event)" [checked]="row._delete"></app-picture-tile>
  </div>
  <div class="myCol">
    <label>Name:</label>
    <input type="text" class="form-control" [(ngModel)]="token.name">

    <label>Team:</label>
    <input type="text" class="form-control" [(ngModel)]="row.team">

    <label>Initiative:</label>
    <input focus-select type="number nospin" class="form-control" [(ngModel)]="row.initiative">
  </div>
</div>