<div class="overall">
  <div>
  <app-picture-tile class="pic" size="square-sm" [picture]="getPic()" [caption]="getType()" 
    canCheck="true" checkIcon="times" (checkChange)="checkChange($event)" [checked]="row._delete" [objPos]="getItem()?.imgPos"></app-picture-tile>

    <label class="btn btn-sm btn-outline-secondary" ngbButtonLabel>
      <input type="checkbox" ngbButton class="hideme" [(ngModel)]="row.dead"> <fa-icon icon="skull-crossbones"></fa-icon> Dead
    </label>
  </div>
  <div class="myCol">
    <label>Name:</label>
    <input type="text" class="frm-ctl" [(ngModel)]="row.name">

    <label>Team:</label>
    <input type="text" class="frm-ctl" [(ngModel)]="row.team">

    <label>HP:</label>
    <div class="line">
      <input focus-select type="number" class="frm-ctl" [(ngModel)]="row.hp"> /
      <input focus-select type="number" class="frm-ctl" [(ngModel)]="row.maxHp">
    </div>

    <label>Initiative:</label>
    <input focus-select  type="number" class="frm-ctl" [(ngModel)]="row.initiative">

    <label>XP:</label>
    <input focus-select type="number" class="frm-ctl" [(ngModel)]="row.xp">

    <label>Statuses:</label>
    <input focus-select type="text" class="frm-ctl" [(ngModel)]="row.statuses">

    <label>Controlled By:</label>
    <input focus-select type="text" class="frm-ctl" [(ngModel)]="row.controlledBy">

    <label>Treasure:</label>
    <input focus-select type="text" class="frm-ctl" [(ngModel)]="row.treasure">
  </div>
</div> 