.close {
    position: absolute;
    right: 2px;
    top: 2px;
    color: lightgray;
    cursor: pointer;
    font-weight: 300;
}
.hide {
    display: none;
    transition: display 2s step-end
}
.user-tab {
    top: 10px;
}
.map-tab {
    top: 50px;
}
.marker-tab {
    top: 90px;
}
.info-tab {
    top: 130px;
}
.admin-tab {
    top: 170px;
}
.visible {
    display: block;
}


.side-nav {
    background-color: rgba(0, 0, 0, .8);
    display: block;
    position: fixed;
    right: -25%;
    top: 0;
    width: 25%;
    height: 100%;
    z-index: 2;
    padding: 10px;
    box-sizing: border-box;
}

.side-container {
    padding: 10px;
    color: white
}

.sideshow {
    right: 0;
    transition: right .8s
}
.sideshow-hide {
    transition: right .8s
}

.tab-icon {
    position: absolute;
    left: -30px;
    z-index: 2;
}

.tab {
    position: absolute;
    /* height: 20px; */
    left: -30px;
    /* width: 20px; */
    /* background-color: #605f5d; */
    background-color: rgba(96, 96, 93, 1);
    opacity: .8;
    border-bottom-left-radius: 4px;
    border-top-left-radius: 4px;
    padding: 5px;
    color: white;
    cursor: pointer;
}

.tab-selected {
    background-color: #9ed485;
}
