<div class="side-nav" [class.sideshow]="expanded==true" [class.sideshow-hide]="expanded==false" *ngIf="game">
  <div class="tab-set" (swiperight)="expanded=false" (panright)="expanded=false">

    <div class="tab " *ngIf="mapCfg" (click)="toggle('map')" [class.tab-selected]="selected==='map'">
      <fa-icon icon="map" fixedWidth="true" size="lg"></fa-icon>
    </div>
    <div class="tab " *ngIf="mapCfg" (click)="toggle('encounter')" [class.tab-selected]="selected==='encounter'">
      <fa-icon icon="swords" fixedWidth="true" size="lg"></fa-icon>
    </div>
    <div class="tab " *ngIf="mapCfg" (click)="toggle('marker')" [class.tab-selected]="selected==='marker'">
      <fa-icon icon="map-marker-alt" fixedWidth="true" size="lg"></fa-icon>
    </div>
      <!-- <div class="tab " *ngIf="mapCfg" (click)="toggle('background')" [class.tab-selected]="selected==='background'">
        <fa-icon icon="dungeon" fixedWidth="true" size="lg"></fa-icon>
      </div> -->
    <div class="tab " *ngIf="mapCfg" (click)="toggle('layers')" [class.tab-selected]="selected==='layers'">
      <fa-icon icon="layer-group" [fixedWidth]="true" size="lg"></fa-icon>
    </div>
    <div class="tab " (click)="toggle('rpg')" [class.tab-selected]="selected==='rpg'">
      <fa-icon icon="dice" [fixedWidth]="true" size="lg"></fa-icon>
    </div>
  </div>

  <!-- <button type="button" class="close" aria-label="Close" (click)="expanded=false" [class.hide]="expanded==false">
    <span aria-hidden="true">&times;</span>
  </button> -->

  <app-marker-tab class="side-container" [class.visible]="selected==='marker'" [class.hide]="selected!=='marker'"></app-marker-tab>
  <app-background-tab class="side-container" [class.visible]="selected==='background'" [class.hide]="selected!=='background'"></app-background-tab>
  <app-encounter-tab class="side-container" [class.visible]="selected==='encounter'" [class.hide]="selected!=='encounter'"></app-encounter-tab>
  <app-map-tab class="side-container" [class.visible]="selected==='map'" [class.hide]="selected!=='map'"></app-map-tab>
  <app-layers-tab class="side-container" [class.visible]="selected==='layers'" [class.hide]="selected!=='layers'"></app-layers-tab>
  <app-rpg-tab class="side-container" [class.visible]="selected==='rpg'" [class.hide]="selected!=='rpg'"></app-rpg-tab>
</div>