<div class="side-nav" [class.sideshow]="expanded==true">
  <div class="tab user-tab" (click)="toggle('user')" [class.tab-selected]="selected==='user'">
    <fa-icon icon="user" fixedWidth="true"></fa-icon>
  </div>
  <div class="tab marker-tab" (click)="toggle('marker')" [class.tab-selected]="selected==='marker'">
    <fa-icon icon="map-marker-alt" fixedWidth="true"></fa-icon>
  </div>
  <div class="tab info-tab" (click)="toggle('info')" [class.tab-selected]="selected==='info'">
    <fa-icon icon="info" [fixedWidth]="true"></fa-icon>
  </div>
  <div class="tab admin-tab" (click)="toggle('admin')" [class.tab-selected]="selected==='admin'">
    <fa-icon icon="cog" [fixedWidth]="true"></fa-icon>
  </div>
  <fa-icon icon="times" (click)="close()" class="close" [class.hide]="expanded==false"></fa-icon>

  <app-user-side *ngIf="selected==='user'"></app-user-side>
  <app-marker-side *ngIf="selected==='marker'"></app-marker-side>
</div>