.close {
    position: absolute;
    right: 2px;
    top: 2px;
    color: lightgray;
    cursor: pointer;
    font-weight: 300;
}
.hide {
    display: none;
    transition: display 2s step-end
}
.user-tab {
    top: 10px;
}

.map-tab {
    top: 50px;
}

.marker-tab {
    top: 90px;
}

.info-tab {
    top: 130px;
}

.admin-tab {
    top: 170px;
}

.visible {
    display: block;
}

