.col2 {
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 5px;
  margin-bottom: 8px;
}

.condition {
  display: grid;
  grid-template-columns: auto auto;
  gap: 1px;
  justify-content: start;
  align-items: center;
}