.dice-canvas {
    /* border: 1px solid white; */
    position: absolute;
    top: 0;
    left: 0;
    right: 10px;
    bottom: 30px;
    pointer-events: none;
}

.uname {
    font-weight: 400;
}

.chat-area {
    /* display: grid;
    grid-template-rows: 1fr auto auto; */
    height: calc(100vh - 80px);
    /* height: 100%; */
    max-width: 100%;
    display: flex;
    flex-direction: column; 
    font-weight: 300;
}

.results-area {
    flex: 1;
}

.input-area {
    flex: 0;
}

.empty-die {
    /* display: inline-block; */
    font-size: 16px;
    border: 2px solid white;
    height: 28px;
    width: 28px;
    text-align: center;
}

.dice {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    font-size: 28px;
    justify-content: flex-start;
    align-items: center;
}

.dice-max {
    color: green;
}
.dice-min {
    color: red;
}

.time {
    color: #515558; /* MUTED */
    font-size: .9em;
}


.roll-header {
    display: flex;
    justify-content: space-between;
}

.roll-header-2 {
    display: flex;
    justify-content: space-between;
    color: #9ed485;
}

.prev {
    position: relative;
    /* border: 1px solid rgba(127, 127, 127, .5); */
    display: flex;
    flex-direction: column-reverse;
}

.roll-even {
    background-color: rgba(3, 139, 139, 0.1);
    border-radius: 2px;
}

.roll:hover {
    background-color: rgba(82, 82, 129, 0.9);
    border-radius: 2px;
    cursor: pointer;
}

.dropdown-toggle::after {
    display: none;
}