.mapcontainer {
    width: 100%;
    height: 100%;
    margin: 0;
    padding: 0;
    z-index: 1;
    /* background: #ffffff; */
    /* background-image: url('/assets/background2.jpg'); */
    background-size: cover;
}

@media (max-width: 1000px) {
  .mapcontainer {
    background-image: url('/assets/background-1000.jpg');
  }
}
@media (max-width: 1960px) and (min-width: 1001px) {
  .mapcontainer {
    background-image: url('/assets/background-1960.jpg');
  }
}
@media (min-width: 1961px) {
  .mapcontainer {
    background-image: url('/assets/background2.jpg');
  }
}

:host {
    position: absolute;
    left: 0;
    right: 0;
    bottom: 0;
    top: 0;
  }