label {
  margin-top: 8px;
  text-align: left;
}

.color-pick {
    height: 38px;
    cursor: pointer;
}

.light-area {
  display: flex;
  flex-direction: column;
  align-items: stretch;
}

.grid-center {
  display: grid;
  align-items: center;
  justify-content: start;
  gap: 4px;
  grid-template-columns: auto auto;
}

.switch-lbl {
  margin: 0px;
  cursor: pointer;
} 

.angles {
  display: grid;
  grid-template-columns: auto 1fr auto 1fr;
  gap : 10px;
}