<div class="light-area">
  <label for="item-enabled">Enabled</label>
  <div>
    <input type="checkbox" class="switch" id='item-enabled' [(ngModel)]="item.enabled">
  </div>

  <label>Type</label>
  <div class="btn-group btn-group-toggle  btn-group-sm" data-toggle="buttons">
    <label class="btn btn-outline-secondary" [class.active]="item.lightType==0">
      <input type="radio" name="options" id="option2" autocomplete="off" [value]='0' [(ngModel)]="item.lightType">
      Light
    </label>
    <label class="btn btn-outline-secondary" [class.active]="item.lightType==1">
      <input type="radio" name="options" id="option1" autocomplete="off" [value]='1' [(ngModel)]="item.lightType">
      Darkness
    </label>
  </div>


  <!-- Magical Level -->
  <label>Magical Level</label>
  <div class="btn-group btn-group-toggle btn-group-sm" data-toggle="buttons">
    <label class="btn btn-outline-secondary" [class.active]="item.magicalLevel==-1">
      <input type="radio" name="options" id="option2" autocomplete="off" [value]='-1' [(ngModel)]="item.magicalLevel">
      N/A
    </label>
    <label class="btn btn-outline-secondary" [class.active]="item.magicalLevel==level" *ngFor=" let level of levels">
      <input type="radio" name="options" id="option1" autocomplete="off" [value]='level' [(ngModel)]="item.magicalLevel">
      {{level}}
    </label>
  </div>

  <!-- Range  -->
  <label>Range</label>
  <input type="number" class="form-control form-control-sm" min='0' max='360' [(ngModel)]="item.range">

  <!-- Range Effect -->
  <label>Range Effect</label>
  <select class="form-control form-control-sm" [(ngModel)]="item.rangeEffect">
    <option [value]='0'>+1 up to Normal</option>
    <option [value]='1'>Minus 1</option>
    <option [value]='2'>Set light to Normal</option>
  </select>

  <!-- Dim Range -->
  <label>Dim Range</label>
  <input type="number" class="form-control form-control-sm" min='0' max='360' [(ngModel)]="item.dimRange">

  <!-- Dim Range Effect -->
  <label>Range Effect</label>
  <select class="form-control form-control-sm" [(ngModel)]="item.dimRangeEffect">
    <option [value]='0'>+1 up to Normal</option>
    <option [value]='1'>Minus 1</option>
    <option [value]='2'>Set light to Normal</option>
  </select>

  <!-- Angles -->
  <label>Angular Coverage</label>
  <div class="angles">
    <label>Start</label>
    <input type="number" class="form-control form-control-sm" min='0' max='360' [(ngModel)]="item.angleStart">
    <label>End</label>
    <input type="number" class="form-control form-control-sm" min='0' max='360' [(ngModel)]="item.angleEnd">
  </div>

  <label>Color</label>
  <div class="form-control form-control-sm form-control form-control-sm-sm  color-pick" [(colorPicker)]="item.color" [style.background]="item.color"
    cpAlphaChannel='always' cpPosition='left' (colorPickerChange)="update()"></div>

</div>