<div class="row">
  <div class="col form-group">
    <label for="">Width</label>
    <input type="number" class="form-control" id="size_x" placeholder="Width" [(ngModel)]="item?.iconSize[0]">
  </div>
  <div class="col form-group">
    <label for="">Height</label>
    <input type="number" class="form-control" id="size_y" placeholder="Height" [(ngModel)]="item?.iconSize[1]">
  </div>
</div>
<label>Marker Sizing</label>
<div class="form-group">
  <select class="form-control " [(ngModel)]="item.sizing">
    <option value="fixed">Fixed size</option>
    <option value="variable">Change with map zoom</option>
  </select>
</div>
<div class="row">
  <div class="col form-group">
    <label for="">Zoom Min</label>
    <input type="text" class="form-control" id="size_x" placeholder="Min" [(ngModel)]="item?.zoomRange[0]">
  </div>
  <div class="col form-group">
    <label for="">Zoom Max</label>
    <input type="text" class="form-control" id="size_y" placeholder="Max" [(ngModel)]="item?.zoomRange[1]">
  </div>
</div>
<div class="row">
  <div class="col form-group">
    <label for="">Display Min</label>
    <input type="text" class="form-control" id="size_x" placeholder="Min" [(ngModel)]="item?.displayRange[0]">
  </div>
  <div class="col form-group">
    <label for="">Display Max</label>
    <input type="text" class="form-control" id="size_y" placeholder="Max" [(ngModel)]="item?.displayRange[1]">
  </div>
</div>

<label>Anchor</label>
<div class="form-group">
  <select class="form-control " [(ngModel)]="item.anchorPosition">
    <option value="0">Top Left</option>
    <option value="1">Top Center</option>
    <option value="2">Top Right</option>
    <option value="3">Middle Left</option>
    <option value="4">Middle Center</option>
    <option value="5">Middle Right</option>
    <option value="6">Bottom Left</option>
    <option value="7">Bottom Center</option>
    <option value="8">Bottom Right</option>
  </select>
</div>