<div class="bg">
  <h1 class="title"> Monster Index</h1>

  <app-search-bar #search [items]="all" [fields]="fields" newText="New Monster" [newLink]="['/', gameid, 'new-monster']" (itemsUpdated)="updateItems($event)"
    (scrollRequest)="scrollTo($event)" (viewChanged)="view=$event" [game]="game" [type]="type">
  </app-search-bar>

  <div class="results scroller scroller-dark" #list>
    <div *ngFor="let m of filtered">
      <a routerLink="{{m.id}}">
        <figure class="result-item" id="MONSTER_{{m.id}}">
          <img [src]='m.thumb?m.thumb:"/assets/missing.png"'>
          <figcaption>
            {{m.name}}
            <br>
            <small>{{m.type}}</small>
          </figcaption>
          <div class="item-cr ">
            CR {{m.cr}}
          </div>
          <div class="item-linked" *ngIf="isLinked(m)">
            <fa-icon icon="link" size="lg" transform="flip-horizontal"></fa-icon>
          </div>
          <div class="overlay">
            <fa-icon class="icon" icon="check" size="3x"></fa-icon>
          </div>
        </figure>
      </a>
    </div>
  </div>

  <div class="loading" *ngIf="loading">
    <sk-cube-grid color="#9ed485"></sk-cube-grid>
    <h1> LOADING PLEASE WAIT</h1>
  </div>
</div>