<div class="buttonbar mt-2" *ngIf="edit==false">
  <button class="btn btn-outline-secondary btn-tool" (click)="newGroup()" placement="bottom" ngbTooltip="Create a new type of marker">
    <fa-icon icon="plus" size="lg"></fa-icon>
  </button>
  <button *ngIf="selected" [disabled]="!canEdit()" class="btn btn-outline-secondary btn-tool" (click)="editStart()" placement="bottom"
    ngbTooltip="Edit the selected item">
    <fa-icon icon="pencil-alt" size="lg"></fa-icon>
  </button>
  <button *ngIf="selected" [disabled]="!canEdit()" class="btn btn-outline-secondary btn-tool" (click)="permissions()" placement="bottom"
    ngbTooltip="Set the access permissions">
    <fa-icon *ngIf="restricted == true" icon="lock" size="lg" class="lockbtn"></fa-icon>
    <fa-icon *ngIf="restricted == false" icon="unlock" size="lg"></fa-icon>
  </button>
  <button *ngIf="selected" [disabled]="!canEdit()" class="btn btn-outline-secondary btn-tool" (click)="delete()" placement="bottom"
    ngbTooltip="Delete the selected item">
    <fa-icon icon="trash-alt" size="lg"></fa-icon>
  </button>
</div>
<div class="buttonbar mt-2" *ngIf="edit==true">
  <button type="button" class="btn btn-outline-secondary btn-tool px-3" aria-label="Save" (click)="save()">
    <fa-icon icon="save" size="lg"></fa-icon> Save
  </button>
  <button type="button" class="btn btn-outline-secondary btn-tool" aria-label="Cancel" (click)="cancel()">
    <fa-icon icon="times" size="lg"></fa-icon> Cancel
  </button>
</div>

<!-- List -->
<ng-container *ngIf="edit==false">
  <ng-container *ngFor="let grp of groups">
    <div [class.selected]="selected && selected.name==grp.name" class="pointer p-1 pack" (click)="setGrp(grp)">
      <fa-icon icon="users" fixedWidth="true" class="mr-1"></fa-icon> {{grp.name}}
      <fa-icon *ngIf="isRestricted(grp)" class="text-muted grid-right" icon="lock"></fa-icon>
    </div>
  </ng-container>
</ng-container>

<ng-container *ngIf="selected && edit==true">
  <div class="form-group">
    <label for="name">Name</label>
    <input type="text" class="form-control " id="name" placeholder="Enter Group Name" [(ngModel)]="selected.name">
  </div>
  <div class="form-group">
    <label for="description">Description</label>
    <textarea class="form-control form-control-sm" rows="3" id="description" placeholder="Enter Description" [(ngModel)]="selected.description"></textarea>
  </div>
  <div class="form-group">
    <label for="name">Members</label>
    <div class="member-list">
      <div class="custom-control custom-checkbox" *ngFor="let opt of users">
        <input type="checkbox" class="custom-control-input" id="{{opt.uid}}" [(checklist)]="selected.members" [checklistValue]="opt.uid">
        <label class="custom-control-label" for="{{opt.uid}}"> {{opt.name}}</label>
      </div>
    </div>
  </div>
</ng-container>