<div class="white">
  <fa-icon icon="pencil-alt" size="lg" (click)="editstart()" class="editbtn" *ngIf="edit==false"></fa-icon>
  <fa-icon icon="check" size="lg" (click)="save()" class="checkbtn" *ngIf="edit==true"></fa-icon>
  <fa-icon icon="times" size="lg" (click)="cancel()" class="closebtn" *ngIf="edit==true"></fa-icon>
  <fa-icon icon="plus" size="lg" (click)="newMarker()" class="newbtn" *ngIf="edit==false"></fa-icon>
  <fa-icon icon="trash-alt" size="lg" (click)="delete()" class="deletebtn"></fa-icon>
  <fa-icon icon="lock" size="lg" (click)="permisions()" class="lockbtn"></fa-icon>

  <ng-container *ngIf="marker">
    <ng-container *ngIf="edit==false">
      <img [src]="marker?.marker._icon.src" class="centered">
      <span class="title">{{marker?.name}}</span>
      <span class="type">{{marker?.type}}</span>
      <span class="description">{{marker?.description}}</span>
      <a href="{{marker?.pageUrl}}">{{marker?.pageUrl}}</a>
      <a href="#" class="coords" (click)="pan()">{{marker?.marker._latlng.lat}}, {{marker?.marker._latlng.lng}}</a>
    </ng-container>
    <div *ngIf="edit==true">
      <img [src]="marker?.marker._icon.src" class="centered">

      <div class="form-group">
        <label for="name" class="small">Name</label>
        <input type="text" class="form-control form-control-sm" id="name" placeholder="Enter Marker Name" [(ngModel)]="marker.name">
      </div>
      <div class="form-group">
        <label for="type" class="small">Type</label>
        <div class="input-group">
          <input type="text" class="form-control form-control-sm" id="name" placeholder="Enter Marker Type" [(ngModel)]="marker.type">
          <div class="input-group-append">
            <button class="btn btn-outline-secondary" type="button"><fa-icon icon="ellipsis-h"></fa-icon></button>
          </div>
        </div>
      </div>
      <div class="form-group">
        <label for="description" class="small">Description</label>
        <textarea class="form-control form-control-sm" rows="3" id="description" placeholder="Enter Description" [(ngModel)]="marker.description"></textarea>
      </div>
    </div>
  </ng-container>
</div>