<div class="page scroller scroller-dark" *ngIf="!item">SOMETHING WENT WRONG</div>

<div class="page scroller scroller-dark" *ngIf="item">
  <app-edit-toolbar [item]="item" (onSave)="save()"></app-edit-toolbar>
  <div class="rows">
    <app-edit-picture [picture]="item.image" [searchTerm]="getSearchTerm()" (choice)="updatePicture($event)">
    </app-edit-picture>
  </div>

  <h2>Name</h2>
  <input type="text" class="form-control form-control-lg" [(ngModel)]="item.name">

  <h2>Description</h2>
  <textarea class="form-control form-control-sm" rows="5" [(ngModel)]="item.description"></textarea>

  <h2>Information</h2>
  <div class="twocol">
    <label class="lbl">Aura</label>
    <input type="text" class="form-control" [(ngModel)]="item.aura">

    <label class="lbl">Caster Level</label>
    <input type="text" class="form-control" [(ngModel)]="item.cl">

    <label class="lbl">Slot</label>
    <input type="text" class="form-control" [(ngModel)]="item.slot">

    <label class="lbl">Price</label>
    <input type="text" class="form-control" [(ngModel)]="item.price">

    <label class="lbl">Weight</label>
    <input type="text" class="form-control" [(ngModel)]="item.weight">

    <label class="lbl">Requirements</label>
    <input type="text" class="form-control" [(ngModel)]="item.requirements">

    <label class="lbl">Cost</label>
    <input type="text" class="form-control" [(ngModel)]="item.cost">

    <label class="lbl">Group</label>
    <input type="text" class="form-control" [(ngModel)]="item.group">

    <label class="lbl">Source</label>
    <input type="text" class="form-control" [(ngModel)]="item.source">

    <label class="lbl">Alignment</label>
    <input type="text" class="form-control" [(ngModel)]="item.alignment">

    <label class="lbl">Intelligence</label>
    <input type="text" class="form-control" [(ngModel)]="item.int">

    <label class="lbl">Wisdom</label>
    <input type="text" class="form-control" [(ngModel)]="item.wis">

    <label class="lbl">Charisma</label>
    <input type="text" class="form-control" [(ngModel)]="item.cha">

    <label class="lbl">Ego</label>
    <input type="text" class="form-control" [(ngModel)]="item.ego">

    <label class="lbl">Communication</label>
    <input type="text" class="form-control" [(ngModel)]="item.communication">

    <label class="lbl">Senses</label>
    <input type="text" class="form-control" [(ngModel)]="item.senses">

    <label class="lbl">Powers</label>
    <input type="text" class="form-control" [(ngModel)]="item.powers">

    <label class="lbl">Magic Items</label>
    <input type="text" class="form-control" [(ngModel)]="item.magicItems">

    <label class="lbl">Destruction</label>
    <input type="text" class="form-control" [(ngModel)]="item.destruction">

    <label class="lbl">Minor Artifact</label>
    <input type="text" class="form-control" [(ngModel)]="item.minorArtifactFlag">

    <label class="lbl">Major Artifact</label>
    <input type="text" class="form-control" [(ngModel)]="item.majorArtifactFlag">

    <label class="lbl">Abjuration</label>
    <input type="text" class="form-control" [(ngModel)]="item.abjuration">

    <label class="lbl">Conjuration</label>
    <input type="text" class="form-control" [(ngModel)]="item.conjuration">

    <label class="lbl">Divination</label>
    <input type="text" class="form-control" [(ngModel)]="item.divination">

    <label class="lbl">Enchantment</label>
    <input type="text" class="form-control" [(ngModel)]="item.enchantment">

    <label class="lbl">Evocation</label>
    <input type="text" class="form-control" [(ngModel)]="item.evocation">

    <label class="lbl">Necromancy</label>
    <input type="text" class="form-control" [(ngModel)]="item.necromancy">

    <label class="lbl">Transmutation</label>
    <input type="text" class="form-control" [(ngModel)]="item.transmutation">

    <label class="lbl">Aura Strength</label>
    <input type="text" class="form-control" [(ngModel)]="item.auraStrength">

    <label class="lbl">Languages</label>
    <input type="text" class="form-control" [(ngModel)]="item.languages">

    <label class="lbl">Base Item</label>
    <input type="text" class="form-control" [(ngModel)]="item.baseItem">

    <label class="lbl">Mythic</label>
    <input type="text" class="form-control" [(ngModel)]="item.mythic">

    <label class="lbl">Legendary Weapon</label>
    <input type="text" class="form-control" [(ngModel)]="item.legendaryWeapon">

    <label class="lbl">Illusion</label>
    <input type="text" class="form-control" [(ngModel)]="item.illusion">

    <label class="lbl">Universal</label>
    <input type="text" class="form-control" [(ngModel)]="item.universal">

    <label class="lbl">Scaling</label>
    <input type="text" class="form-control" [(ngModel)]="item.scaling">

  </div>
</div>