.color-pick {
  height: 2em;
  border: solid 1px #6c757d;
}

.acol {
  display: grid;
  justify-content: flex-start;
}

.acol label {
  text-align: left;
}

.value-row {
  display: grid;
  grid-template-columns: 1fr 1fr;
  row-gap: 0;
  column-gap: 1em;
}

.colorholder {
  overflow: hidden;
}
