<div class="dlg">
  <div class="header">
    <h1>Edit Attribute Bar</h1>
  </div>
  <div class="bdy">
    <div class="acol">
      <!-- name -->
      <label>Name</label>
      <input type="text" class="form-control" [(ngModel)]="bar.name">

      <!-- Source -->
      <label>Attribute</label>
      <select class="form-control" [(ngModel)]="bar.source">
        <option *ngFor="let attr of attributes" [value]="attr.attr">{{attr.attr}}</option>
      </select>

      <!-- Value -->
      <div class="value-row">
        <label>Current Value</label>
        <label>Max Value</label>
        <input type="number" class="form-control nospin" [(ngModel)]="bar.value">
        <input type="number" class="form-control nospin" [(ngModel)]="bar.max">

        <label>Background</label>
        <label>Normal</label>

        <div class="colorholder">
          <div class="form-control  color-pick" [(colorPicker)]="bar.bgColor" [style.background]="bar.bgColor"
            cpAlphaChannel='always' cpPosition='left' (colorPickerChange)="update()"></div>
        </div>

        <div class="colorholder">
          <div class="form-control  color-pick" [(colorPicker)]="bar.color" [style.background]="bar.color"
            cpAlphaChannel='always' cpPosition='left' (colorPickerChange)="update()"></div>
        </div>

        <label>Warning Range</label>
        <label>Warning</label>

        <input type="number" class="form-control nospin" [(ngModel)]="bar.warnRange">
        <div class="colorholder">
          <div class="form-control  color-pick" [(colorPicker)]="bar.warnColor" [style.background]="bar.warnColor"
            cpAlphaChannel='always' cpPosition='left' (colorPickerChange)="update()"></div>
        </div>
      </div>
    </div>
  </div>
  <div class="footer">
    <button type="button" class="btn btn-outline-secondary" (click)="ok()">
      <fa-icon icon="check" size="lg" class="mr-2"></fa-icon>Select
    </button>
    <button type="button" class="btn btn-outline-secondary" (click)="cancel()">
      <fa-icon icon="times" size="lg" class="mr-2">
      </fa-icon>Cancel
    </button>
  </div>
</div>