.rows {
  display: grid;
  grid-template-columns: 1fr;
  grid-gap: 10px;
}

.other {
  height: 400px;
}

.bg {
  padding: 20px;
}

.page img {
  max-width: 400px;
  max-height: 400px;
}

.page h2 {
  margin-top: 20px;
}
