.mapcontainer {
    width: 100%;
    height: 100%;
    margin: 0;
    padding: 0;
    z-index: 1;
    background: #ffffff;
}

:host {
    position: absolute;
    left: 0;
    right: 0;
    bottom: 0;
    top: 0;
  }