<div class="white">
  <h1>In Play</h1>

  <div class="buttongrid" >
    <button class="btn btn-outline-secondary btn-tool" (click)="newEncounter()" placement="bottom" ngbTooltip="Create a New Encounter">
      <fa-icon icon="plus" size="lg"></fa-icon>
    </button>
    <button class="btn btn-outline-secondary btn-tool" (click)="loadEncounter()" placement="bottom" ngbTooltip="Open a New Encounter">
      <fa-icon icon="search" size="lg"></fa-icon>
    </button>
    <button class="btn btn-outline-secondary btn-tool" (click)="done()" placement="bottom" ngbTooltip="Open a New Encounter">
      <fa-icon icon="times" size="lg"></fa-icon>
    </button>
  </div>

  <div class="scroller scroller-dark marker-scroll">
    <ng-container *ngFor="let team of teams">
      <h3>{{team}}</h3>
      <div class="small-tiles">
        <app-picture-tile size='tiny' class="pic" [selected]="isSelected(item)" (click)="select(item)" *ngFor="let item of getMembers(team)" [picture]="pic(item)"
         [caption]="caption(item)" [badge]="badge(item)" [objPos]="item.imgPos"></app-picture-tile>
      </div>
    </ng-container>
  </div>
  <div class="singlecol" *ngIf="encounter">
    <button class="btn btn-sm btn-outline-secondary">Group Roll</button>
    <button class="btn btn-sm btn-outline-secondary" (click)="manage()">Manage Participants</button>
    <button class="btn btn-sm btn-outline-secondary">Award XP</button>
    <button class="btn btn-sm btn-outline-secondary">Distribute Treasure</button>
  </div>
</div>