.admin-btn {
    width: 90%;
    margin-bottom: .5em;
}

.centered {
    display: flex;
    align-items: center;
    flex-direction: column;
}

.admin-tool-header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    border: 1px solid #6c757d;
    border-radius: 4px;
    font-size: 1.1rem;
    padding: .5em;
}

.picker {
    max-width: 220px;
    max-height: 150px;
}
