<h4>Adminstration</h4>

<div class="centered">
<button type="button" class="btn btn-outline-secondary admin-btn" (click)="openMarker()"><fa-icon icon="map-marker-alt" fixedWidth="true"></fa-icon> Marker Manager</button>
<button type="button" class="btn btn-outline-secondary admin-btn" (click)="openMap()"><fa-icon icon="map" fixedWidth="true"></fa-icon> Maps Manager</button>
<button type="button" class="btn btn-outline-secondary admin-btn" (click)="openGroup()"><fa-icon icon="user" fixedWidth="true"></fa-icon> Group Manager</button>
</div>