<h2>Rolls</h2>
<div class="attr-table tbl">
  <div class="tbl-header">Name</div>
  <div class="tbl-header">Expression</div>
  <div class="tbl-header"></div>
  <ng-container *ngFor="let r of character.rolls; let even=even">
    <div [class.tbl-even]='even' [class.tbl-odd]='!even'>
      <input class="form-control nobg" [(ngModel)]="r.name">
    </div>
    <div [class.tbl-even]='even' [class.tbl-odd]='!even'>
      <input class="form-control nobg" [(ngModel)]="r.expression">
    </div>
    <div [class.tbl-even]='even' [class.tbl-odd]='!even' class="btns">
      <fa-icon icon="trash" class="row-btn" (click)="delete(r)"></fa-icon>
      <fa-icon icon="dice-six" class="row-btn" (click)="roll(r)"></fa-icon>
    </div>
  </ng-container>
</div>
<div class="attr-footer" (click)="addRow()">
  <fa-icon icon="plus"></fa-icon> Add Row
</div>