.attr-table {
  display: grid;
  grid-template-columns: 1fr 1fr auto;
}


.attr-footer {
  display: flex;
  align-items: center;
  justify-content: center;
  text-align: center;
  cursor: pointer;
}

.attr-footer:hover {
  background-color: black;
}
.row-btn {
  cursor: pointer;
  padding: 5px;
}

.btns {
  display: flex;
  align-items: center;
  justify-content: center;
}