<div class="dlg">
  <div class="header">
    <h1>Player Permissions</h1>
  </div>
  <div class="bdy">
    <h2>Whole Document</h2>
    <app-restriction-toggle [(ngModel)]="item.restrict"></app-restriction-toggle>
    <ng-container *ngIf="fields.length>0">
      <div *ngFor="let fld of fields">
        <h2>{{fld.name}}</h2>
        <app-restriction-toggle [(ngModel)]="fld.value.restriction"></app-restriction-toggle>
      </div>
    </ng-container>
  </div>
  <div class="footer">
    <button type="button" class="btn btn-outline-secondary" (click)="ok()"><fa-icon icon="check" size="lg" class="mr-2"></fa-icon>Ok</button>
    <button type="button" class="btn btn-outline-secondary" (click)="activeModal.dismiss('Cancel')"><fa-icon icon="times"
        size="lg" class="mr-2"></fa-icon>Cancel</button>
  </div>