.choices {
    max-height: 400px;
    overflow: auto;
    display: flex;
    flex-direction: column;
    align-items: start;
}

.member-list {
  display: flex;
  flex-direction: column;
  align-items: start;
}

h2 {
  text-transform: capitalize;
  margin-top: 10px;
}

