<figure #figure [class.iconselected]="selected" class="hover-target" (mouseenter)="mouseenter()" (mouseleave)="mouseleave()">
  <img [src]="getPicture()" [ngClass]="getImagePosClass()">
  <figcaption  *ngIf="item.showName >= 1" [style.font-size]="calcFontSize()" [class.showonselect]="item.showName>=2" [class.showonhover]="item.showName==3" >{{item.name}}</figcaption>
  <span *ngIf="item.badge" class="badge badge-secondary badge-label">{{item.badge}}</span>
  <ul class="bars" [style.gap]="calcBarGap()">
    <ng-container *ngFor="let bar of item.bars">
      <li class="bar" *ngIf="bar.visible>=1" [style.background-color]="bar.bgColor" [style.height]="calcBarHeight(bar)" [class.showonselect]="bar.visible>=2" [class.showonhover]="bar.visible==3">
        <div class="bar-inner" [style.width]="calcBarWidth(bar)" [style.background-color]="getColor(bar)"></div>
      </li>
    </ng-container>
  </ul>
  <span *ngIf="item.flyHeight != 0 && item.showFly >= 1" class="flyburrow"  [style.font-size]="calcFontSize(0.09)" [class.showonselect]="item.showFly>=2" [class.showonhover]="item.showFly==3">{{item.flyHeight|plus}}</span>
</figure>