<app-expander text="Bars">
  <div class="bars">
    <ng-container *ngFor="let bar of item.bars">
      <app-visibility-toggle [visible]="bar.visible" (changes)="setBarVisible(bar, $event)"></app-visibility-toggle>

      <label>{{bar.name}}</label>
      <input type="text" addsub focus-select class="form-control" [ngModel]="bar.value" [ngModelOptions]="{updateOn: 'blur'}" (ngModelChange)="updateBarValue(bar, $event)">
      <span class="slash">/</span>
      <input type="text" addsub focus-select class="form-control" [ngModel]="bar.max" [ngModelOptions]="{updateOn: 'blur'}"  (ngModelChange)="updateBarMax(bar, $event)">
      <div class="clickable clickable-sm" (click)="edit(bar)">
        <fa-icon icon="edit"></fa-icon>
      </div>
      <div class="clickable  clickable-sm" (click)="delete(bar)" placement="bottom" ngbTooltip="Delete">
        <fa-icon icon="trash"></fa-icon>
      </div>
    </ng-container>
    <div class="footer-btn" (click)="add()">
      <fa-icon icon="plus"></fa-icon>
      Add Bar
    </div>
  </div>
</app-expander>