<div class="character scroller scroller-dark">
  <ul class="tool-bar tool-bar--wide tool-bar--bg">
    <li (click)="save()">
      <fa-icon class="icon" icon="save" size="lg"></fa-icon>Save
    </li>
    <app-restrict-tool [item]="character" [saveOnChange]="false"></app-restrict-tool>
    <li (click)="delete()">
      <fa-icon class="icon" icon="trash-alt" size="lg"></fa-icon>Delete
    </li>
    <li (click)="cancel()">
      <fa-icon class="icon" icon="times" size="lg"></fa-icon>Cancel
    </li>
  </ul>

  <div class="rows">
    <app-chr-picture [character]="character"></app-chr-picture>
    <app-edit-chr-personal [character]="character"></app-edit-chr-personal>
    <app-edit-chr-attributes [character]="character"></app-edit-chr-attributes>
    <app-edit-chr-rolls [character]="character"></app-edit-chr-rolls>
  </div>
  <app-edit-chr-description class="span2" [character]="character"></app-edit-chr-description>
  <!-- <app-edit-chr-map-links class="span2" [character]="character"></app-edit-chr-map-links> -->
  <app-edit-chr-attachments class="span2" [character]="character"></app-edit-chr-attachments>
</div>