<ng-container *ngIf="size=='card'">
  <div class="crd" [class.p1]="position==1" [class.p2]="position==2" [class.p3]="position==3">
    <ng-container *ngIf="canView() == true">
      <a routerLink="{{item.id}}">
        <img class="crd-picture" [src]="item.image?item.image:'/assets/cards/item.png'">
      </a>
      <div class="crd-body crd-body scroller-dark">
        <ng-container *ngIf="page=='information'">
          <div class="center-text"><div class="crd-page-title">Information</div></div>
          
<div><app-restricted-content [item]="item" field="group">Group: {{item.group}}</app-restricted-content></div>
    <div><app-restricted-content [item]="item" field="cl">Caster Level: {{item.cl}}</app-restricted-content></div>
    <div><app-restricted-content [item]="item" field="price">Price: {{item.price}}</app-restricted-content></div>
    <div><app-restricted-content [item]="item" field="slot">Slot: {{item.slot}}</app-restricted-content></div>
    <div><app-restricted-content [item]="item" field="weight">Weight: {{item.weight}}</app-restricted-content></div>
    <div><app-restricted-content [item]="item" field="aura">Aura: {{item.aura}}</app-restricted-content></div>
    <div><app-restricted-content [item]="item" field="source">Source: {{item.source}}</app-restricted-content></div>
    <div><app-restricted-content [item]="item" field="schools">School: {{schools()}}</app-restricted-content></div>
    
    <div *ngIf="item.destruction"><app-restricted-content [item]="item" field="type">Destruction: {{item.destruction}}</app-restricted-content></div>
    <div *ngIf="item.magicItems"><app-restricted-content [item]="item" field="type">Magical Items: {{item.magicItems}}</app-restricted-content></div>
    <div *ngIf="item.baseItem"><app-restricted-content [item]="item" field="type">Base Item: {{item.baseItem}}</app-restricted-content></div>
    <div *ngIf="item.scaling"><app-restricted-content [item]="item" field="type">Scaling: {{item.scaling}}</app-restricted-content></div>

  <ng-container *ngIf="(item.int || item.alignment)">
  <h2>Sentience</h2>
    <div><app-restricted-content [item]="item" field="sentience">Alignment: {{item.alignment}}</app-restricted-content></div>
    <div><app-restricted-content [item]="item" field="sentience">Intelligence: {{item.int}}</app-restricted-content></div>
    <div><app-restricted-content [item]="item" field="sentience">Wisdom: {{item.wis}}</app-restricted-content></div>
    <div><app-restricted-content [item]="item" field="sentience">Charisma: {{item.cha}}</app-restricted-content></div>
    <div><app-restricted-content [item]="item" field="sentience">Ego: {{item.ego}}</app-restricted-content></div>
    <div><app-restricted-content [item]="item" field="sentience">Communication: {{item.communication}}</app-restricted-content></div>
    <div><app-restricted-content [item]="item" field="sentience">Senses: {{item.senses}}</app-restricted-content></div>
    <div><app-restricted-content [item]="item" field="sentience">Powers: {{item.powers}}</app-restricted-content></div>
    <div><app-restricted-content [item]="item" field="sentience">Languages : {{item.languages}}</app-restricted-content></div>
  </ng-container>
  
  <h2>Construction Requirements</h2>
    <div><app-restricted-content [item]="item" field="type">Cost: {{item.cost}}</app-restricted-content></div>
    <div><app-restricted-content [item]="item" field="type">Requirements: {{item.requirements}}</app-restricted-content></div>


          
        </ng-container>

        <ng-container *ngIf="page=='description'">
          <div class="center-text">
            <div class="crd-page-title">Description</div>
          </div>

          <small>
            <app-restricted-content [item]="item" field="description"><i>{{item.description}}</i></app-restricted-content>
          </small>
        </ng-container>

      </div>
      <div class="crd-title pointer">
        <span class="crd-txt" (click)="togglePositionMax()"> {{item.name}}</span>
      </div>
      <div class="crd-title crd-title-middle pointer">
        <fa-icon class="crd-prev" icon="caret-left" (click)="prevPage($event)"></fa-icon>
        <span class="crd-txt" (click)="togglePosition()"><app-restricted-content [item]="item" field="group">{{item.group}}</app-restricted-content></span>
        <fa-icon class="crd-next" icon="caret-right" (click)="nextPage($event)"></fa-icon>
      </div>

    </ng-container>
    <ng-container *ngIf="canView() == false">
      <img class="crd-back" src="/assets/cards/item.png">
    </ng-container>
  </div>
</ng-container>

<ng-container *ngIf="size=='small'">
  <a routerLink="{{item.id}}">
    <div class="sm-card">
      <img [src]='item.thumb?item.thumb:"/assets/cards/item-sm.png"' class="mini-pic-sm">
      <span class="sm-name">{{item.name}}</span>
      <fa-icon *ngIf="current" icon="bookmark" class="current"></fa-icon>
    </div>
  </a>
</ng-container>

<ng-container *ngIf="size=='tiny'">
  <div class="tiny-card">
    <img *ngIf="item.thumb" [src]='item.thumb?item.thumb:"/assets/cards/item-sm.png"' class="mini-pic-tiny">
    <div *ngIf="!item.thumb" class="mini-pic-sm nopic"></div>
    <span class="sm-name">{{item.name}}</span>
  </div>
</ng-container>