.attr-tbl {
  display: grid;
  grid-template-columns: 1fr 5em 5em;
  margin-bottom: 1em;
}

.roll-tbl {
  display: grid;
  grid-template-columns: 1fr auto auto;
  margin-bottom: 1em;
}

.end-margin {
  margin-bottom: 1em;
}