.attr-tbl {
  display: grid;
  grid-template-columns: 1fr 4em 4em;
  margin-bottom: 1em;
  margin-top: -1.8em; 
}

.numcell {
  text-align: right
}

.roll-tbl {
  display: grid;
  grid-template-columns: 1fr auto auto;
  margin-bottom: 1em;
}

.end-margin {
  margin-bottom: 1em;
}
