
<app-expander title="Personal">
  <div class="end-margin">
    <div>
      <app-restricted-content [item]="character" field="type">{{lookupType()}}</app-restricted-content>
    </div>
    <app-tags [tags]="character.tags"></app-tags>
    <div>
      <app-restricted-content [item]="character" field="size">Size: {{character?.size}}</app-restricted-content>
    </div>
    <div>
      <app-restricted-content [item]="character" field="speed">Speed: {{character?.speed}}</app-restricted-content>
    </div>
    <div>
      <app-restricted-content [item]="character" field="vision">Vision: {{character?.vision}}</app-restricted-content>
    </div>
    <div>
      <app-restricted-content [item]="character" field="reach">Reach: {{character?.reach}}</app-restricted-content>
    </div>
  </div>
</app-expander>

<app-expander title="Rolls">
  <app-restricted-content [item]="character" field="rolls">
    <div class="roll-tbl">
      <ng-container *ngFor="let a of character.rolls">
        <div>{{a.name}}</div>
        <div>{{evaluate(a)}}</div>
        <div>
          <fa-icon icon="dice-six" (click)="roll($event,a)" class="btn-tbl"></fa-icon>
        </div>
      </ng-container>
    </div>
  </app-restricted-content>
</app-expander>

<app-expander title="Stats">
  <app-restricted-content [item]="character" field="attributes">
    <div class="attr-tbl">
      <ng-container *ngFor="let a of character.attributes">
        <div>{{a.attr}}</div>
        <div>{{a.max}}</div>
        <div>{{a.current}}</div>
      </ng-container>
    </div>
  </app-restricted-content>
</app-expander>

<app-expander title="Vision & Lighting">
  
</app-expander>

<app-expander title="Auras">


</app-expander>


<div class="crd-hover-info" *ngIf="diceResult">
  <div class="dice">
    <ng-container *ngFor="let r of diceResult.dice">
      <i [class]="r.getClass()" [class.mr-1]="true" [class.dice-max]="r.isMax()" [class.dice-min]="r.isMin()"></i>
      <span class="empty-die mr-1" *ngIf="r.getNoClass()">{{r.getTotal()}}</span>
    </ng-container>
    <ng-container *ngIf="diceResult.modifier > 0">
      + {{diceResult.modifier}}
    </ng-container>
    <ng-container *ngIf="diceResult.modifier < 0">
      {{diceResult.modifier}}
    </ng-container>
    = {{diceResult.getTotal()}}
  </div>
</div>
<app-dice-canvas #dice (diceroll)="rolled($event)" (cleared)="cleared($event)"></app-dice-canvas>
