.lines {
  margin-top: 10px;
  display: grid;
  grid-template-columns: 50px 100px 50px 100px 50px; 
   justify-content: center;
  align-items: center;
  text-align: center;
}
.item {
  position: relative;
  height:50px;
  width:50px;
  border: 4px solid rgb(255,255,255);
  border-radius: 50%;
  display: flex;
  justify-content: center;
  align-items: center;
  cursor: pointer;
}
.item-green {
  background-color: green;
}
.item-checked {
    background-color: green;
}
.item-unchecked {
  color: grey;
  background-color: rgb(126,0,0);
  border: 4px solid grey;
}
.line {
  width:100px;
  height: 6px;
  background-color: grey;
}
.line-white {
  background-color: white;
}
.item:hover {
    filter: drop-shadow(0px 0px 6px blue)
}
.lines span {
  margin-top: 5px;
 }
 