
.title {
  display: grid;
  grid-template-columns: 1fr auto;
  justify-content: center;
  align-items: center;
  text-align: center;
  margin-bottom: 20px;
}

.outer {
  height: 60vh;
  width:70vw;
  display: grid;
  grid-template-columns: 1fr;
}

.marker-list {
  display: grid;
  grid-template-columns: repeat(auto-fill, 75px);
  text-align: center;
}

.selected {
  color: white;
  background-color: rgba(56,56,56,.8);
  text-overflow: ellipsis;
  overflow: hidden;
}

.outer figcaption {
  text-overflow: ellipsis;
  overflow: hidden;
  padding-bottom: 2px;
}

.outer figure {
  margin: 0;
}

.toolbar {
  display: grid;
  font-size: 1.3em;
}

.white {
  color: white;
}

button.clickable.white:disabled {
  color: gray;
  cursor: inherit;
}

.announcement {
  color: lightgray;
  display: flex;
  height: 100%;
  width: 100%;
  justify-content: center;
  align-items: center;
}

.footer {
  display: grid;
  gap: 10px;
  justify-content: center;
  align-items: center;
  grid-template-columns: auto auto;
}