<div class="page-center">
  <div class="edit-area page page--wide">
    <ng-container *ngIf="game">

      <app-edit-picture [picture]="game.image" (choice)="setPicture($event)"></app-edit-picture>
      <div class="form-control-group">
        <h2>Name</h2>
        <input class="form-control form-control-lg" [(ngModel)]="game.name" placeholder="Game Name">
      </div>
      <div>
        <h2>Tags</h2>
        <tag-input [(ngModel)]="game.tags" [separatorKeys]="[',']" [modelAsStrings]="true"></tag-input>
      </div>
      <div>
        <h2>Players</h2>
        <tag-input #playercontrol [(ngModel)]="players" [separatorKeys]="[',']" identifyBy="id" displayBy="name"
          onlyFromAutocomplete="true" (onRemove)="onRemovePlayer($event)" (onAdd)="onAddPlayer($event)" [onRemoving]="onRemovingPlayer">
          <tag-input-dropdown [autocompleteItems]="userItems" identifyBy="id" displayBy="name" showDropdownIfEmpty='true'>
          </tag-input-dropdown>
        </tag-input>
      </div>
      <div>
        <h2>Game Masters (GMs)</h2>
        <tag-input #gmcontrol [(ngModel)]="gms" [separatorKeys]="[',']" identifyBy="id" displayBy="name"
          onlyFromAutocomplete="true" (onRemove)="onRemoveGm($event)" (onAdd)="onAddGm($event)" [onRemoving]="onRemovingGm">
          <tag-input-dropdown [autocompleteItems]="userItems" identifyBy="id" displayBy="name" showDropdownIfEmpty='true'>
          </tag-input-dropdown>
        </tag-input>
      </div>

      <div>
        <h2>Description</h2>
        <textarea class="form-control" [(ngModel)]="game.description"></textarea>
      </div>

      <div class="buttonbar mt-3">
        <button type="button" class="btn btn-outline-secondary btn-tool px-3" aria-label="Close" (click)="save()">
          <fa-icon icon="save" size="lg"></fa-icon> Save
        </button>
        <button type="button" class="btn btn-outline-secondary btn-tool" aria-label="Close" (click)="cancel()">
          <fa-icon icon="times" size="lg"></fa-icon> Cancel
        </button>
      </div>
    </ng-container>
  </div>
</div>