.area {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-gap: 10px;
    grid-auto-rows: 1fr;
}

.color-pick {
    height: 38px;
    cursor: pointer;
    border-radius: 5px;
    border: solid 1px #6c757d;
}