.attr-tbl {
  display: grid;
  grid-template-columns: 1fr 5em 5em;
}

.roll-tbl {
  display: grid;
  grid-template-columns: 1fr auto auto;
}

.character {
  padding: 20px 50px;
  max-width: 800px;
  background-color: white;
  max-height: 100%;
  overflow: auto;
  margin-left: 10%;
}

.character h2 {
  margin-top: 15px;
}

.att-tbl {
  display: grid;
  grid-template-columns: 1fr auto;
}

.hdr {
  background-color: rgba(0, 0, 0, .8);
  color: white;
  padding: 3px;
}

h2 {
  margin-top: 20px;
}
.right-align {
  text-align: end;
}
.sfc-row {
  display: flex;
}

.sfc-row-equal {
  /* display: flex; */
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-template-rows: 1fr;
  grid-gap: 10px;
}

@media (max-width: 600px) {
  .sfc-row-equal {
    display: flex;
    flex-direction: column;
  }
  .sfc-row {
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }
}

.pic {
  max-height: 300px;
  max-width: 300px;
  margin-right: 20px;
}

.attr-item {
  height: 40px;
  width: 40px;
}