.lockbtn {
    color: red;
    cursor: pointer;
}

.buttonbar {
    display: flex;
    justify-content: center;
    margin-bottom: 6px;
}

.btn-tool > img {
    filter:  brightness(0) invert(.7);
    height: 24px;
}

.btn-tool:hover > img {
    filter:  brightness(0) invert(1);
}

.btn-tool {
    margin-right: 5px;
}

.btn-tool:last-of-type {
    margin-right: 0;
}

.marker-container {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

.title {
    text-align: center;
    font-size: 14pt;
    width: 100%;
    display: block;
    margin: 10px 10px, 0px, 10px;
}

.description {
    text-align: center;
    font-size: 10pt;
    width: 100%;
    display: block;
}

.type {
    text-align: center;
    font-size: 10pt;
    width: 100%;
    display: block;
    margin-bottom: 4px;
}

.page {
    margin-top: 10px;
    text-align: center;
    font-size: 10pt;
    width: 100%;
    display: block;
}

.coords {
    text-align: center;
    font-size: 10pt;
    width: 100%;
    display: block;
    color: white;
}

.centered {
    display: block;
    margin: 0 auto ;
}

.edit-container {
    position: absolute;
    top: 70px;
}

label.small {
    font-size: .8em;
    margin-bottom: 4px;
}

.icon-flow {
    padding: .2em;
    width: 30px;
    display: flex;
}

.icon-holder {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
}

.dh {
    white-space: normal;
    padding-left: 5px;
}

.marker-scroll {
    height: calc(100vh - 110px);
}

.marker-container a {
    color: white;
    margin-bottom: 4px;
}

.marker-container a:hover {
    color: grey
}

.svghighlight path {
    fill: white;
    fill-opacity:1;
    stroke: white;
    stroke-opacity:"1"
}