<div class="white marker-tab">
  <h1>Annotations</h1>

  <div class="buttons">
    <div class="buttongrid" *ngIf="edit==false">
      <button class="btn btn-outline-secondary btn-tool" (click)="newMarker()" placement="bottom" ngbTooltip="Create a new marker">
        <fa-icon icon="map-marker-alt" size="lg"></fa-icon>
      </button>
      <button class="btn btn-outline-secondary btn-tool" (click)="newPolyline()" placement="bottom" ngbTooltip="Create a new line">
        <!-- <img src="./assets/icons/polyline.png"> -->
        <fa-icon icon="signature" size="lg"></fa-icon>
      </button>
      <button class="btn btn-outline-secondary btn-tool" (click)="newRectangle()" placement="bottom" ngbTooltip="Create a new rectangle">
        <!-- <img src="./assets/icons/rectangle.png"> -->
        <fa-icon icon="vector-square" size="lg"></fa-icon>
      </button>
      <button class="btn btn-outline-secondary btn-tool" (click)="newCircle()" placement="bottom" ngbTooltip="Create a new circle">
        <!-- <img src="./assets/icons/circle.png"> -->
        <fa-icon [icon]="['far', 'circle']" size="lg"></fa-icon>
      </button>
      <button class="btn btn-outline-secondary btn-tool" (click)="newPolygon()" placement="bottom" ngbTooltip="Create a new polygon">
        <!-- <img src="./assets/icons/polygon.png"> -->
        <fa-icon icon="draw-polygon" size="lg"></fa-icon>
      </button>

      <button class="btn btn-outline-secondary btn-tool" (click)="newImage()" placement="bottom" ngbTooltip="Create a new imager">
        <fa-icon icon="image" size="lg"></fa-icon>
      </button>
      <button class="btn btn-outline-secondary btn-tool" (click)="newBarrier()" placement="bottom" ngbTooltip="Create a new barrier">
        <fa-icon icon="rectangle-wide" size="lg"></fa-icon>
      </button>
      <button class="btn btn-outline-secondary btn-tool" (click)="addCharacter()" placement="bottom" ngbTooltip="Add a Character">
        <fa-icon icon="user-shield" size="lg"></fa-icon>
      </button>
      <button class="btn btn-outline-secondary btn-tool" (click)="addMonster()" placement="bottom" ngbTooltip="Add a Monster">
        <fa-icon icon="dragon" size="lg"></fa-icon>
      </button>
      <button class="btn btn-outline-secondary btn-tool" (click)="addToken()" placement="bottom" ngbTooltip="Add a Generic Token">
        <fa-icon icon="helmet-battle" size="lg"></fa-icon>
      </button>
    </div>
    <div class="buttongrid" *ngIf="edit==false">
      <button *ngIf="!selection.isEmpty()" class="btn btn-outline-secondary btn-tool" (click)="editstart()" placement="bottom"
        ngbTooltip="Edit the selected marker(s)">
        <fa-icon icon="pencil-alt" size="lg"></fa-icon>
      </button>
      <button *ngIf="!selection.isEmpty()" class="btn btn-outline-secondary btn-tool" (click)="permissions()" placement="bottom"
        ngbTooltip="Set the access permissions">
        <fa-icon *ngIf="restricted == true" icon="lock" size="lg" class="lockbtn"></fa-icon>
        <fa-icon *ngIf="restricted == false" icon="unlock" size="lg"></fa-icon>
      </button>
      <button *ngIf="!selection.isEmpty()" class="btn btn-outline-secondary btn-tool" (click)="togglePin()" placement="bottom"
        ngbTooltip="Pin this selection" [class.active]="selectionPinned">
        <fa-icon icon="thumbtack" size="lg"></fa-icon>
      </button>
      <button *ngIf="!selection.isEmpty()" class="btn btn-outline-secondary btn-tool" (click)="delete()" placement="bottom"
        ngbTooltip="Delete the selected marker(s)">
        <fa-icon icon="trash-alt" size="lg"></fa-icon>
      </button>
      <button *ngIf="!selection.isEmpty()" class="btn btn-outline-secondary btn-tool" (click)="deselect()" placement="bottom"
        ngbTooltip="Deselect Items">
        <fa-icon icon="times" size="lg"></fa-icon>
      </button>
    </div>

    <div class="buttonbar" *ngIf="edit==true">
      <button type="button" class="btn btn-outline-secondary btn-tool px-3" aria-label="Close" (click)="save()">
        <fa-icon icon="save" size="lg"></fa-icon> Save
      </button>
      <button type="button" class="btn btn-outline-secondary btn-tool" aria-label="Close" (click)="cancel()">
        <fa-icon icon="times" size="lg"></fa-icon> Cancel
      </button>
    </div>
  </div>
  <div class="scroller scroller-dark marker-scroll">
    <!-- Display and Item -->
    <ng-container *ngIf="!edit && selection.items.length>=1">
      <div class="marker-container" *ngFor="let item of selection.items">

        <app-token-selection [item]="item" (onPan)="pan()" *ngIf="itemType(item) == 'token'"></app-token-selection>
        <app-marker-selection [item]="item" (onPan)="pan()" *ngIf="itemType(item) == 'marker'"></app-marker-selection>
        <app-image-selection [item]="item" (onPan)="pan()" *ngIf="itemType(item) == 'image'"></app-image-selection>
        <app-shape-selection [item]="item" (onPan)="pan()" *ngIf="itemType(item) == 'shape'"></app-shape-selection>
        <app-barrier-selection [item]="item" (onPan)="pan()" *ngIf="itemType(item) == 'barrier'"></app-barrier-selection>

        <app-expander title="Vision" class="expander-tools" *ngIf="itemType(item) == 'token'">
          <fa-icon class="clickable edit-tool" (click)="editVision()" icon="edit"></fa-icon>
          <button *ngIf="!item.vision" class="btn btn-outline-secondary btn-tool" (click)="addVision()">
            <fa-icon icon="plus"></fa-icon> Add vision to this
          </button>
          <app-vision-view *ngIf="item.vision" [item]="item" (changes)="save()"></app-vision-view>
        </app-expander>
        <app-expander title="Auras" *ngIf="itemType(item) == 'token'">
          <app-edit-chr-auras [item]="item" (changes)="save()"></app-edit-chr-auras>
        </app-expander>
        <app-expander title="Light" *ngIf="itemType(item) == 'token'">
          <app-lighting-selection [item]="item" (changes)="save()"></app-lighting-selection>
        </app-expander>
      </div>
    </ng-container>

    <!-- Edit of a single marker -->
    <div *ngIf="edit && itemType(item)=='marker' && selection.items.length==1">
      <app-edit-marker [marker]="item" [map]="map"></app-edit-marker>
    </div>

    <!-- Edit a single shape -->
    <div *ngIf="edit && itemType(item) == 'shape' && selection.items.length == 1">
      <app-edit-shape #editshape [shape]='item'></app-edit-shape>
    </div>

    <!-- Edit a single barrier -->
    <div *ngIf="edit && itemType(item) == 'barrier' && selection.items.length == 1">
      <app-barrier-edit #editbarrier [item]='item'></app-barrier-edit>
    </div>

    <!-- Edit a single image -->
    <div *ngIf="edit && itemType(item) == 'image' && selection.items.length == 1">
      <app-edit-image #editimage [image]='item'></app-edit-image>
    </div>

    <!-- Edit of multiple markers -->
    <div *ngIf="edit && types()=='marker' && selection.items.length > 1">
      <div class="form-group">
        <label for="type" class="small">Type</label>
        <app-marker-combo [(ngModel)]="markers.type" [map]="map" (change)="updateMuliEdit()"></app-marker-combo>
      </div>
      <div class="form-group">
        <label for="type" class="small">Group</label>
        <app-marker-group-combo [(ngModel)]="markers.group" [annotation]="markers" (change)="updateMuliEdit()"></app-marker-group-combo>
      </div>
    </div>

    <div *ngIf="edit && types()!='marker' && selection.items.length > 1">
      <div class="form-group">
        <label for="type" class="small">Group</label>
        <app-marker-group-combo [(ngModel)]="markers.group" [annotation]="markers" (change)="updateMuliEdit()"></app-marker-group-combo>
      </div>
    </div>
  </div>
</div>