
.toggle2 {
    border-top-left-radius: 0px;
    border-bottom-left-radius: 0px;
    font-size: .9em;
}

.map-scroll {
    height: calc(100vh - 110px);
}

.buttongrid .btn-group {
  grid-column: span 4;
}

.tab-category-switch {
  position: absolute;
  top: -25px;
  right: 0;
}

.category {
  position: relative;
  margin-top: .5em;
}

.color-pick {
  height: 2em;
  cursor: pointer;
  border-radius: 5px;
  border: solid 1px #6c757d;
}

.highlight {
    background-color: #7a7a7a;
    border-radius: 4px;
    padding: 3px;
}

.highlight-btn {
  background-color: #7a7a7a;
  border-bottom-left-radius: 0;
  border-bottom-right-radius: 0;
  margin-bottom: -6px;
  border-bottom: 0;
  color: white;
}

.highlight-btn:focus {
   border-bottom-left-radius: 0;
  border-bottom-right-radius: 0;
   border-bottom: 0;
   z-index: -1;
}

.highlight-choice {
  border: 0;
  padding: 2px;
  color: white
}

.colors {
  display : grid;
  grid-template-columns: 1fr 1fr;
  gap: 5px;
}