
.toggle2 {
    border-top-left-radius: 0px;
    border-bottom-left-radius: 0px;
    font-size: .9em;
}

.map-scroll {
    height: calc(100vh - 110px);
}

.buttongrid .btn-group {
  grid-column: span 4;
}

.tab-category-switch {
  position: absolute;
  top: -25px;
  right: 0;
}

.category {
  position: relative;
}

.color-pick {
  height: 2em;
  cursor: pointer;
}