<h1>Map</h1>
<ng-container *ngIf="mapCfg">
  <!-- Buttons -->
  <div class="center-layout">
    <div class="buttongrid" *ngIf="edit==false">
      <a [routerLink]="getLink()">
        <button class="btn btn-outline-secondary btn-tool" placement="bottom" ngbTooltip="Edit this map">
          <fa-icon icon="pencil-alt" size="lg"></fa-icon>
        </button>
      </a>
      <button class="btn btn-outline-secondary btn-tool btnruler" [class.active]="measureXY" (click)="measure()"
        placement="bottom" ngbTooltip="Measure the distance beween 2 points on the map">
        <fa-icon icon="ruler" size="lg"></fa-icon>
      </button>
      <button class="btn btn-outline-secondary btn-tool" [class.active]="calibrateX" (click)="calibrate()" placement="bottom"
        ngbTooltip="Calibrate the distance between 2 points on the map">
        <fa-icon icon="pencil-ruler" size="lg"></fa-icon>
      </button>
      <button class="btn btn-outline-secondary btn-tool" (click)="delete()" placement="bottom" ngbTooltip="Delete this map">
        <fa-icon icon="trash-alt" size="lg"></fa-icon>
      </button>
      <button class="btn btn-outline-secondary btn-tool" (click)="close()" placement="bottom" ngbTooltip="Close this map">
        <fa-icon icon="times" size="lg"></fa-icon>
      </button>
      <button class="btn btn-outline-secondary btn-tool" (click)="share()" placement="bottom" ngbTooltip="Share map changes"
        [class.active]="isSharing()">
        <fa-icon icon="broadcast-tower" size="lg"></fa-icon>
      </button>
      <button class="btn btn-outline-secondary btn-tool" (click)="listen()" placement="bottom" ngbTooltip="Listen to map changes"
        [class.active]="isListening()">
        <fa-icon icon="ear" size="lg"></fa-icon>
      </button>
    </div>
    <div class="buttonbar" *ngIf="edit==true">
      <button type="button" class="btn btn-outline-secondary btn-tool px-3" aria-label="Close" (click)="save()">
        <fa-icon icon="save" size="lg"></fa-icon> Save
      </button>
      <button type="button" class="btn btn-outline-secondary btn-tool" aria-label="Close" (click)="cancel()">
        <fa-icon icon="times" size="lg"></fa-icon> Cancel
      </button>
    </div>
  </div>

  <div class="scroller scroller-dark map-scroll">
    <!-- Edit screen-->
    <app-edit-map #editmap [map]="mapCfg" *ngIf="edit==true"></app-edit-map>

    <!-- Information -->
    <div *ngIf="edit==false" class="center-layout">
      <fa-icon icon="map" size="2x"></fa-icon>
      <h2>{{mapCfg.name}}</h2>
      <app-tags [tags]="mapCfg.tags"></app-tags>
      <app-readmore class="text-muted mb-2 description" [value]="mapCfg?.description"></app-readmore>
    </div>
    <ng-container *ngIf="edit==false">
      <!-- Grid Lines-->
      <h4>
        <fa-icon class="pointer" (click)="isCollapsed['grid'] = !isCollapsed['grid']" [fixedWidth]="true" size="lg"
          [icon]="isCollapsed['grid'] ? 'caret-right' : 'caret-down'"></fa-icon> Gridlines
      </h4>

      <div class="ml-2" [ngbCollapse]="isCollapsed['grid']">
        <div class="custom-control custom-checkbox">
          <input type="checkbox" class="custom-control-input" id="grid_enable" [(ngModel)]="grid.options.enabled"
            (change)="toggleGrid()">
          <label class="custom-control-label" for="grid_enable"> Enable Gridlines</label>
        </div>
        Spacing
        <div class="input-group">
          <input class="form-control form-control-sm" type="number" [(ngModel)]="grid.options.spacing" (change)="updateGrid()">
          <div ngbDropdown placement="bottom-right">
            <button class="btn btn-outline-secondary toggle2" id="dropDownUnits" ngbDropdownToggle>{{grid.options.spacingUnit}}
            </button>
            <div ngbDropdownMenu aria-labelledby="dropDownUnits">
              <button *ngFor="let u of units" class="dropdown-item btn-sm" placement="bottom" [ngbTooltip]="u.name"
                (click)="grid.options.spacingUnit = u.abbr">{{u.name}}</button>
            </div>
          </div>
        </div>
        Offset NS
        <div class="slidecontainer">
          <input class="slider" type="range" [min]="-grid.options.spacing" [max]="grid.options.spacing" [step]="grid.options.spacing/50"
            [(ngModel)]="grid.options.offsetNS" id="myRange" (change)="updateGrid()">
        </div>
        Offset EW
        <div class="slidecontainer">
          <input class="slider" type="range" [min]="-grid.options.spacing" [max]="grid.options.spacing" [step]="grid.options.spacing/50"
            [(ngModel)]="grid.options.offsetEW" id="myRange" (change)="updateGrid()">
        </div>
        Color
        <div>
          <input class="form-control form-control-sm" [(colorPicker)]="grid.options.color" [style.background]="grid.options.color"
            cpAlphaChannel='always' cpPosition='left' (colorPickerChange)="updateGrid()" />
        </div>
        Line Weight
        <div class="slidecontainer">
          <input class="slider" type="range" min="1" max="9" step="1" [(ngModel)]="grid.options.lineWeight" (change)="updateGrid()">
        </div>
      </div>

      <!-- Fog of War-->
      <h4>
        <fa-icon class="pointer" (click)="isCollapsed['fog'] = !isCollapsed['fog']" [fixedWidth]="true" size="lg"
          [icon]="isCollapsed['fog'] ? 'caret-right' : 'caret-down'"></fa-icon> Fog of War
      </h4>

      <div class="ml-2 mb-3 category" [ngbCollapse]="isCollapsed['fog']">
        <ng-container *ngIf="isGM">
          <input type="checkbox" class="switch tab-category-switch" [(ngModel)]="fow.enabled" id="fow.enable" (change)="updateFow()">
          <div class="buttongrid">
            <button class="btn btn-outline-secondary btn-tool" (click)="toggleHideAll()" placement="bottom" ngbTooltip="Toggle Hide All to start" container="body"
              [class.active]="fow.hideAll">
              <fa-icon icon="eye-slash" size="lg"></fa-icon>
            </button>

            <button class="btn btn-outline-secondary btn-tool" (click)="startRectangle()" placement="bottom" ngbTooltip="Draw square" [class.highlight-btn]="isRectangle()">
              <fa-icon icon="draw-square" size="lg"></fa-icon>
            </button>
            <button class="btn btn-outline-secondary btn-tool" (click)="startPoly()" placement="bottom" ngbTooltip="Draw Polygon" [class.highlight-btn]="isPolygon()">
              <fa-icon icon="draw-polygon" size="lg"></fa-icon>
            </button>
            <button class="btn btn-outline-secondary btn-tool" (click)="startCircle()" placement="bottom" ngbTooltip="Draw Circle" [class.highlight-btn]="isCircle()">
              <fa-icon icon="draw-circle" size="lg"></fa-icon>
            </button>
            <button class="btn btn-outline-secondary btn-tool" (click)="clear()" placement="bottom" ngbTooltip="Reset Fog of War">
              <fa-icon icon="sync-alt" size="lg"></fa-icon>
            </button>
          </div>
          <div class="buttongrid highlight" *ngIf="fow_current_shp">
            <button class="btn btn-outline-secondary btn-tool grid-c2 highlight-choice" (click)="saveAsReveal()" placement="bottom"
              ngbTooltip="Show this area to players"container="body">
              <fa-icon icon="eye" > </fa-icon> Show
            </button>
            <button class="btn btn-outline-secondary btn-tool grid-c2  highlight-choice" (click)="saveAsHide()" placement="bottom"
              ngbTooltip="Hide this area from players" >
              <fa-icon icon="eye-slash" ></fa-icon> Hide
            </button>
            <button class="btn btn-outline-secondary btn-tool  highlight-choice" (click)="cancelFowShape()" placement="bottom" ngbTooltip="Cancel this area">
              <fa-icon icon="times" size="lg"></fa-icon>
            </button>
          </div>

          <div class="fow-items mb-2">
            <div class="colors">
              <label class="mt-2">Player Fog Color</label>
              <label class="mt-2">GM Fog Color</label>
              <div class="form-control form-control-sm  color-pick" [(colorPicker)]="fow.color" [style.background]="fow.color"
                cpAlphaChannel='never' cpPosition='left' (colorPickerChange)="updateFow()"></div>
              <div class="form-control form-control-sm  color-pick" [(colorPicker)]="fow.gmcolor" [style.background]="fow.gmcolor"
                cpAlphaChannel='always' cpPosition='left' (colorPickerChange)="updateFow()"></div>
            </div>
            <label class="mt-2">Fog Blur</label>
              <div class="slidecontainer">
                <input class="slider" type="range" min="0" max="20" [step]="1" [(ngModel)]="fow.blur" (change)="updateFow()">
              </div>
          </div>
        </ng-container>
        <span *ngIf="!isGM && fow.enabled">
          Fog of War is ENABLED! Your GM has control!
        </span>
        <span *ngIf="!isGM && !fow.enabled">
          Fog of War is disabled...have a good look around!
        </span>
      </div>

      <!-- Lighting-->
      <h4>
        <fa-icon class="pointer" (click)="isCollapsed['lighting'] = !isCollapsed['lighting']" [fixedWidth]="true" size="lg"
          [icon]="isCollapsed['lighting'] ? 'caret-right' : 'caret-down'"></fa-icon>
        Lighting
      </h4>
      <!-- rectangle-wide -->

      <div class="ml-2" [ngbCollapse]="isCollapsed['lighting']">
        <div class="buttongrid">
          <button class="btn btn-outline-secondary btn-tool" (click)="newMarker()" placement="bottom" ngbTooltip="Enable / Disable lighting">
            <fa-icon icon="lightbulb-on" size="lg"></fa-icon>
          </button>
          
          <div class="btn-group" role="group" aria-label="Basic example">
            <button type="button" class="btn btn-outline-secondary" placement="bottom" ngbTooltip="Daytime / Bright Light">
              <fa-icon icon="sun" size="lg"></fa-icon>
            </button>
            <button type="button" class="btn btn-outline-secondary" placement="bottom" ngbTooltip="Daytime / Normal Light">
              <fa-icon icon="cloud-sun" size="lg"></fa-icon>
            </button>
            <button type="button" class="btn btn-outline-secondary">
              <fa-icon icon="moon" size="lg" placement="bottom" ngbTooltip="Night / Dim Light"></fa-icon>
            </button>
            <button type="button" class="btn btn-outline-secondary">
              <fa-icon icon="cloud-moon" size="lg" placement="bottom" ngbTooltip="Night / Darkness"></fa-icon>
            </button>
          </div>
        </div>
        <div class="buttongrid">

          <button class="btn btn-outline-secondary btn-tool" (click)="newMarker()" placement="bottom" ngbTooltip="View lighting layer">
            <fa-icon icon="eye" size="lg"></fa-icon>
          </button>
          <button class="btn btn-outline-secondary btn-tool" (click)="newMarker()" placement="bottom" ngbTooltip="Create a Wall (Fixed Light Barrier) ">
            <fa-icon icon="rectangle-wide" size="lg"></fa-icon>
          </button>
          <button class="btn btn-outline-secondary btn-tool" (click)="newMarker()" placement="bottom" ngbTooltip="Create a Door (Opennable Light Barrier">
            <fa-icon icon="door-open" size="lg"></fa-icon>
          </button>
          <button class="btn btn-outline-secondary btn-tool" (click)="newMarker()" placement="bottom" ngbTooltip="Add a light source">
            <fa-icon icon="campfire" size="lg"></fa-icon>
          </button>
        </div>
      </div>

    </ng-container>
  </div>
</ng-container>