<div class="form-group">
  <label for="name">Name</label>
  <input type="text" class="form-control " id="name" placeholder="Enter Map Name" [(ngModel)]="selected.name">
</div>
<div class="form-group  mb-0">
  <label for="name">Map Image</label>
</div>
<div class="form-group  mb-0 center">
  <label for="file" class="custom-file-upload p-0 center" (click)="getFile()">
    <canvas #mycanvas class="file-div" src="./assets/missing.png"></canvas>
  </label>
  <input id="file" #filecontrol type="file" class="inputfile " id="name" accept=".jpg,.png" placeholder="select map image"
    (change)="setFile($event)">
</div>
<div class="area">
  <div class="form-group">
    <label for="dim">Height</label>
    <input id="dim" type="text" class="form-control " id="name" placeholder="Enter Height" [(ngModel)]="selected.height">
  </div>
  <div class="form-group">
    <label for="dim">Width</label>
    <input id="dim" type="text" class="form-control " id="name" placeholder="Enter Width" [(ngModel)]="selected.width">
  </div>
</div>
<div class="form-group">
  <label for="name">Category</label>
  <app-map-type-combo [(ngModel)]="selected.mapType" [map]="selected"></app-map-type-combo>
</div>
<div class="form-group">
  <label for="name">Default Marker</label>
  <app-marker-combo [(ngModel)]="selected.defaultMarker" [map]="selected"></app-marker-combo>
</div>
<div class="form-group">
  <label for="description">Description</label>
  <textarea class="form-control form-control-sm" rows="3" id="description" placeholder="Enter Description" [(ngModel)]="selected.description"></textarea>
</div>