<div class="input-group">
  <input type="text" name="markergroup" class="form-control form-control-sm main py-0" id="mg" placeholder="Enter Group Name"
    [value]="name()" (change)="onTextChange($event)">
  <div class="input-group-append">
    <div ngbDropdown placement="bottom-right">
      <button class="btn btn-outline-secondary toggle2" id="dropdownBasic1" ngbDropdownToggle> </button>
      <div ngbDropdownMenu class="icon-dropdown" aria-labelledby="dropdownBasic1">
        <button *ngFor="let t of all" class="dropdown-item btn-sm" placement="bottom" (click)="select(t)">{{t.name}}</button>
      </div>
    </div>
  </div>
</div>