.bar {
  background-color: rgba(0,0,0,.8);
  padding: 5px;
  width: 100%;

  display: flex;
  justify-content: center;
  align-items: center;
}

.tool-bar {
  list-style: none;
  color: white;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 0px;
  margin: 0;
}


.tool-bar li {
  margin: 0px 5px 0px 5px;
  padding: 5px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  cursor: pointer;
}

.tool-bar li:hover {
  background-color:   rgb(128,128,128);
}

.icon {
  display: block;
}

.filters {
  position: relative;
  width: 50%
}

.icon-help {
  color: grey;
  position: absolute;
  bottom: 0px;
  right: 0px;
  padding: 7px;
  cursor: pointer;
}

.icon-help:hover {
  color:black;
}

.icon-clear {
  color: grey;
  position: absolute;
  bottom: 0px;
  right: 40px;
  padding: 7px;
  cursor: pointer;
}
.icon-clear:hover {
  color:black;
}

.badge-overlay {
  position: absolute;
  right: 70px;
  bottom: 50%;
}
.new a {
  color: white;
  text-decoration: none;
}
.new2 {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  padding: 15px 5px;
  margin: 0 10px;
}

.new a:hover {
  text-decoration: none;
  background-color:   rgb(128,128,128);
}

.index-bar {
  background-color: rgba(0,0,0,.8);
  padding: 5px;
  width: 100%;
  flex-wrap: wrap;
  display: flex;
  justify-content: center;
  align-items: center;
  list-style: none;
  margin : 0;
  padding: 0;
}
.index-bar li {
  color: white;
  padding: 5px 10px;
  cursor: pointer;
}
.index-bar li:hover {
  background-color:   rgb(128,128,128);
}
.index-bar li:active {
  background-color:   rgb(128,128,128);
}

@media(max-width:700px) {
  .bar {
   display: grid;
   grid-template-columns: auto auto ;
   justify-content: space-between;
   margin: 5px 0 0 0 ;
   padding-bottom: 0;
  }
  .tool-bar {
    grid-row: 2;
    justify-content: start;
  }
  .filters {
    grid-row: 1;
    grid-column: 1/3;
    width: 95vw;
  }
  .new {
    grid-row: 2;
    margin: 0px 5px 0px 5px;
    padding: 5px;
    display: flex;
    flex-direction: column;
    justify-content: end;
    align-items: flex-end;
    cursor: pointer;
  }
  .new .icon2 {
    display: block;
  }
  .new a {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 0px;
    margin:0;
  }
  .new2 {
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 5px;
    margin:0;
  }
}