<div class="bar">
  <ul class="tool-bar">
    <li *ngIf="hasViews" (click)="toggleView()">
      <fa-icon class="icon" [icon]="getViewIcon() " size="lg"></fa-icon>View
    </li>
    <li *ngIf="hasFilters" (click)="toggleFilter()">
      <fa-icon class="icon" icon="filter" size="lg"></fa-icon>Filter
    </li>
    <li *ngIf="hasSorts" (click)="toggleSort()">
      <fa-icon class="icon" icon="sort" size="lg"></fa-icon>Sort
    </li>
  </ul>
  <div class="filters">
    <input type="text" [ngModel]="searchPhrase" (ngChange)="updateSearch($event)" (blur)="forceUpdateSearch($event)" (keyup.enter)="forceUpdateSearch($event)"
      class="form-control form-control-lg">
    <fa-icon *ngIf="searchPhrase!=''" icon="times" (click)="clearSearch()" size="2x" class="icon-clear"></fa-icon>
    <fa-icon icon="question-circle" (click)="showFilterHelp()" size="2x" class="icon-help"></fa-icon>
    <span class="badge badge-info badge-overlay">{{filtered.length}}</span>
  </div>
  <div class="new">
    <div class="new2">
      <a [routerLink]="newLink"><fa-icon icon="plus" size="lg" class="icon2"></fa-icon> {{newText}}</a>
    </div>
  </div>
</div>
<ul *ngIf="hasIndex" class="index-bar">
  <li *ngFor="let indexValue of filter.indexValues" (click)="goto(indexValue)"> {{indexValue}}</li>
</ul>