<app-expander text="Personal">
  <div class="end-margin personal">
    <!-- Name -->
    <app-visibility-toggle [visible]="item.showName" (changes)="updateShowName($event)"></app-visibility-toggle>
    <label>Alias</label>
    <input type='text' class="form-control" [(ngModel)]="item.name" (ngModelChange)="update()">

    <!-- Size -->
    <label></label>
    <label>Size</label>
    <select class="form-control" [(ngModel)]="item.size" (ngModelChange)="update()">
      <option [value]="size.key" *ngFor="let size of sizes">{{size.name}}</option>
    </select>

    <!--- Speed -->
    <app-visibility-toggle [visible]="item.showSpeed" (changes)="updateShowSpeed($event)"></app-visibility-toggle>
    <label>Speed</label>
    <input type='number' class="form-control nospin" [(ngModel)]="item.speed" (ngModelChange)="update()">

    <!-- Reach -->
    <app-visibility-toggle [visible]="item.showReach" (changes)="updateShowReach($event)"></app-visibility-toggle>
    <label>Reach</label>
    <input type='number' focus-select class="form-control nospin" [(ngModel)]="item.reach" (ngModelChange)="update()">

    <!-- Fly / Burrow Height-->
    <app-visibility-toggle [visible]="item.showFly" (changes)="updateShowFly($event)"></app-visibility-toggle>
    <label>Fly / Burrow</label>
    <input type='number' focus-select class="form-control nospin" [(ngModel)]="item.flyHeight" (ngModelChange)="update()">

    <!-- vision -->
    <div class='vision'>
      <label>Vision</label>
      <label>Darkvision</label>
      <label>Low-Light</label>
      <input type="checkbox" class="switch" [(ngModel)]="item.vision.normal">
      <div class="h-switch">
        <input type="checkbox" class="switch" [(ngModel)]="item.vision.dark">
        <input type="number" class="form-control nospin " [(ngModel)]="item.vision.darkRange" [class.showme]="item.vision.dark"
          [class.hideme]="!item.vision.dark">
      </div>
      <div class="h-switch">
        <input type="checkbox" class="switch" [(ngModel)]="item.vision.lowLight">
        <input type="number" class="form-control nospin" [(ngModel)]="item.vision.lowLightRange" [class.showme]="item.vision.lowLight"
          [class.hideme]="!item.vision.lowLight">
      </div>
    </div>
  </div>
</app-expander>