.attr-table {
  display: grid;
  grid-template-columns: 1fr 5em 5em;
}


.attr-footer {
  display: flex;
  align-items: center;
  justify-content: center;
  text-align: center;
  cursor: pointer;
}

.attr-footer:hover {
  background-color: black;
}