<h2>Attributes</h2>
<div class="attr-table tbl">
  <div class="tbl-header">Atrribute</div>
  <div class="tbl-header tbl-header--right">Max</div>
  <div class="tbl-header tbl-header--right">Current</div>
  <ng-container *ngFor="let attr of character.attributes; let even=even">
    <div [class.tbl-even]='even' [class.tbl-odd]='!even'>
      <input class="form-control nobg" [(ngModel)]="attr.attr">
    </div>
    <div [class.tbl-even]='even' [class.tbl-odd]='!even'>
      <input class="form-control num nobg" type="number" [(ngModel)]="attr.max">
    </div>
    <div [class.tbl-even]='even' [class.tbl-odd]='!even'>
      <input class="form-control num nobg" type="number" [(ngModel)]="attr.current">
    </div>
  </ng-container>
</div>
<div class="attr-footer" (click)="addRow()">
  <fa-icon icon="plus"></fa-icon> Add Row
</div>