.attr-table {
  display: grid;
  grid-template-columns: 1fr 5em 5em;
}

.attr-header {
  color: white;
  padding: 5px;
}

.attr-odd {
  background-color: rgba(117, 117, 117, 0.719)
}

.attr-table input {
  border-radius: 0;
  padding: .15em;
  background-color: transparent;
  color: white;
  margin-left: -1px;
  margin-top: -1px;
}

.attr-footer {
  display: flex;
  align-items: center;
  justify-content: center;
  text-align: center;
  cursor: pointer;
}

.attr-footer:hover {
  background-color: black;
}