
.game-card {
  width: 400px;
  height: 300px;
  position: relative;
  background-color: black;
  border-radius: 20px;
  padding: 10px;
  margin: 10px;
}

@media (max-width: 600px) {
  .game-card {
    width: 95vw;
    max-width: 400px;
    height: 70vw;
  }
} 


.game-card .logo {
  position: absolute;
  left: 15px;
  top: 15px;
  max-height: 50px;
  max-width: 120px;
}

.game-card .image {
  border-radius: 13px;
  height: 100%;
  width: 100%;
  object-fit : cover;
  object-position: 50% 50%
}

.game-card h1 {
  position: absolute;
  bottom: 10px;
  left: 10px;
  right: 10px;
  text-align: center;
  color: white;
  background-color: rgba(0,0,0,.7);
  padding: 5px;
  margin: 0;
  
}

.game-card-body {
  overflow: auto;
  position: absolute;
  border: 1px solid green;
  background-color: rgba(218, 227, 243, .9);
  bottom: 10px;
  left: 10px;
  right: 10px;
  color: black;
  font-size: 1.1em;
  line-height: .8em;
  border-radius: 0 0 15px 15px;
}

.p1 .game-card-body{
  display: none;
}

.p2 .game-card-body{
  top: 40%;
}

.p1 h1 {
    bottom: 10px;
}

.p2 h1 {
    bottom: 60%;
}

.game-card h2 {
  font-size: 1.1em;
  font-weight: 400;
  width: 100%;
  text-align: center;
  text-decoration: underline;
}