
body {
    font-family: Arial, Helvetica, sans-serif
}

.white {
    color: white;
}


.glow {
    z-index:-1;
    transform: scale(1.01) translate(-50%, -50%);
    -webkit-transform: scale(1.01) translate(-50%, -50%);
    filter: brightness(0) invert(1) blur(5px);
    -webkit-filter: brightness(0) invert(1) blur(5px);
  }

.iconselected {
    /* outline: 2px solid blue !important; */
    /* background-color: rgba(153,153,153,0.5); */
    filter: drop-shadow(0px 0px 3px blue)
}

.pointer {
    cursor: pointer;
}

/* Makes the text not put the selection caret (like a button) */
.noselect {
    -webkit-touch-callout: none; /* iOS Safari */
      -webkit-user-select: none; /* Safari */
       -khtml-user-select: none; /* Konqueror HTML */
         -moz-user-select: none; /* Firefox */
          -ms-user-select: none; /* Internet Explorer/Edge */
              user-select: none; /* Non-prefixed version, currently
                                    supported by Chrome and Opera */
  }