/* -------------------------------------------- */
/* Imports                                      */
/* -------------------------------------------- */
@import url('https://fonts.googleapis.com/css?family=Lato:300,400,700');
@import 'app/styles/card-style-3.css';
@import 'app/styles/toolbar.css';

/* @import 'app/styles/tag-input.css'; */

/* -------------------------------------------- */
/* Global setuyp and variables                  */
/* -------------------------------------------- */

:root {
    --lock-color : rgb(127, 0, 0);
    --primary-color : white;
    --highlight-color : #9ed485;
    --muted-color: #515558;
}

*, *::before, *::after {
    box-sizing: border-box;
}

body {
    height: 100%;
    max-height: 100%;
}

/* -------------------------------------------- */
/* Typography                                   */
/* -------------------------------------------- */

h1, h2, h3, h4, h5, h6 {
    margin-top: 0;
    font-family: inherit;
    margin-bottom: .5rem;
    font-weight: 400;
    line-height: 1.2;
    display: block;
}

h1 {
    font-size: 1.5rem;
}

h2 {
    font-size: 1.2rem;
}

h3 {
    font-size: 1.1rem;
}

h4 {
    font-size: 1rem;
}

body {
    font-family: 'Lato', sans-serif;
    font-size: 14px;
}

.white {
    color: white;
}

.description {
    line-height: 1.3em;
    font-size: .9em;
}

.acent-font {
    color: var(--highlight-color)
}

/*  Scrollbars
    -------------------*/
.scroller {
    /* overflow: auto; */
    overflow-y: auto;
    overflow-x: hidden;
}

.scroller-dark::-webkit-scrollbar-track
{
    width: 5px;  
	-webkit-box-shadow: inset 0 0 6px rgba(0,0,0,0.3);
	box-shadow: inset 0 0 6px rgba(0,0,0,0.3);
    background-color: rgba(0, 0, 0, .8);
}

.scroller-dark::-webkit-scrollbar
{
	width: 5px;
    background-color: #F5F5F5;
    padding-left: 10px;
}

.scroller-dark::-webkit-scrollbar-thumb
{
	border-radius: 6px;
	-webkit-box-shadow: inset 0 0 6px rgba(0,0,0,.3);
	box-shadow: inset 0 0 6px rgba(0,0,0,.3);
	background-color: #555;
} 

.scroller-dark::-webkit-scrollbar-corner {
    background-color: transparent;
}

.hide {
    /* display: none */
    transform: scale(0,0)
}

.glow {
    z-index:-1;
    transform: scale(1.01) translate(-50%, -50%);
    -webkit-transform: scale(1.01) translate(-50%, -50%);
    filter: brightness(0) invert(1) blur(5px);
    -webkit-filter: brightness(0) invert(1) blur(5px);
  }

.iconselected {
    /* outline: 2px solid blue !important; */
    /* background-color: rgba(153,153,153,0.5); */
    filter: drop-shadow(0px 0px 3px blue)
}

.pointer {
    cursor: pointer;
}

/* Makes the text not put the selection caret (like a button) */
.noselect {
    -webkit-touch-callout: none; /* iOS Safari */
      -webkit-user-select: none; /* Safari */
       -khtml-user-select: none; /* Konqueror HTML */
         -moz-user-select: none; /* Firefox */
          -ms-user-select: none; /* Internet Explorer/Edge */
              user-select: none; /* Non-prefixed version, currently
                                    supported by Chrome and Opera */
  }

.select-box {
    border: 1px dotted #38f;
}

.drop-target {
    background-color: steelblue;
}



  .leaflet-bar{
    background-color: #ffffff;
  }
  .leaflet-control {
    cursor: pointer;
  }
  .leaflet-ruler{
    height: 35px;
    width: 35px;
  }

  .center-layout {
      display: flex;
      flex-direction: column;
      justify-content: center;
      text-align: center;
      align-items: center;
  }

  .tab-link {
    color: white;
  }    

.tab-link a:hover {
    color: grey
}

.grid-right {
    margin-left: auto;
    order: 2;
}

/* -------------------------------------------- */
/* Common Button Styles                         */
/* -------------------------------------------- */
.buttongrid {
    /* display: flex; */
    /* justify-content: center; */
    margin-bottom: 6px;
    /* display: grid; */
    /* grid-template-columns: 1fr 1fr 1fr 1fr 1fr; */
    grid-gap: 6px;
    width: 100%;
    display: grid; 
    grid-template-columns: repeat(auto-fill, minmax(40px, 1fr));
}
.buttongrid .btn-tool > img {
    filter:  brightness(0) invert(.7);
    height: 24px;
}

.buttongrid .btn-tool:hover > img {
    filter:  brightness(0) invert(1);
}

.buttongrid .btn-tool {
    padding: 6px 0;
    min-width: 40px;
}

.buttonbar {
    display: flex;
    justify-content: center;
    margin-bottom: 6px;
}
.buttonbar .btn-tool > img {
    filter:  brightness(0) invert(.7);
    height: 24px;
}

.buttonbar .btn-tool:hover > img {
    filter:  brightness(0) invert(1);
}

.buttonbar .btn-tool {
    margin-right: 5px;
    /* padding-left: 0;
    padding-right: 0;
    margin-bottom: 10px; */
}

.buttonbar .btn-tool:last-of-type {
    margin-right: 0;
}
.buttongrid .btn-tool h2 {
    margin: 0;
}

.lockbtn {
    color: var(--lock-color);
    cursor: pointer;
}

.toggle2 {
    border-top-left-radius: 0px;
    border-bottom-left-radius: 0px;
}

.sfc-map-zoombar {
 display: grid;
 grid-template-rows: 1fr 1fr 1fr
}

/* .sfc-map-zoombar-item {
     width: 32px;
    height: 32px; 
} */

/* Buttons that are small and typically shown in a tablular arrangment */
.btn-tbl {
    padding: 4px;
    cursor: pointer;
    margin-left: 3px;
}

.btn-tbl:hover {
    color: white;
    background-color: grey;
}

/* -------------------------------------------- */
/* Leaflet Tooltip Styles                       */
/* -------------------------------------------- */

.sfc-tooltip-default {
    border: 0;
    background: transparent;
    color: white; 
    text-shadow: black 0.1em 0.1em 0.2em;
    box-shadow: 0 0 ;
    padding: .1em .5em;
}

.sfc-tooltip-background {
    border: 0;
    background: rgba(0, 0, 0, .8);
    color: white; 
    box-shadow: 0 0 ;
    padding: .1em .5em;
}

.sfc-tooltip-default-lg {
    border: 0;
    background: transparent;
    color: white; 
    text-shadow: black 0.1em 0.1em 0.2em;
    box-shadow: 0 0 ;
    font-size: 1.4rem;
    padding: .1em .5em;
}

.sfc-tooltip-background-lg {
    border: 0;
    background: rgba(0, 0, 0, .8);
    color: white; 
    box-shadow: 0 0 ;
    font-size: 1.4rem;
    padding: .1em .5em;
}

.sfc-tooltip-default-sm {
    border: 0;
    background: transparent;
    color: white; 
    text-shadow: black 0.1em 0.1em 0.2em;
    box-shadow: 0 0 ;
    font-size: .8rem;
    padding: .1em .5em;
}

.sfc-tooltip-background-sm {
    border: 0;
    background: rgba(0, 0, 0, .8);
    color: white; 
    box-shadow: 0 0 ;
    font-size: .8rem;
    padding: .1em .5em;
}


.moving-tooltip{
    background-color: rgba(255, 255, 255, .7);
    background-clip: padding-box;
    opacity: 0.7;
  }

/* -------------------------------------------- */
/* Leaflet Scale Styles                         */
/* -------------------------------------------- */
.sfc-scale {
    margin-left: 100px !important;
    padding: 20px 25px 5px 5px;
    background-color:  rgba(254,246,237, .8);
    opacity: .8;
    border-radius: 2px;
}

.sfc-scale-ruler {
    border: 1px solid rgb(168, 166, 166);
    display: flex;
}

.sfc-scale-division {
    display: flex;
    position: relative;
}

.sfc-scale-bar-label {
    font-size: .9em;
    color: black;
    text-shadow: #fef6ed 1px 1px 4px;
    width: 100%;
    text-align: center;
    position: absolute;
    right:0;
    margin-right: -50%;
    white-space: nowrap;
}

.sfc-scale-bar-odd {
    background-color: rgba(127, 127, 127, .8)
}

.sfc-scale-bar-even {
    background-color: rgba(254,246,237, .8)
}

.uiElement {
    background-color: transparent
}

.uiElement labelFirst {
    color: black;
    text-shadow: #fef6ed 0px 0px 8px;
}

.leaflet-container {
    font-family: inherit;
    font-size: .9em;
}

.leaflet-control-coordinates .uiElement {
    margin-left: 90px;
}

.leaflet-control-coordinates .uiElement .labelFirst {
	margin-right:4px;
}

.leaflet-control-coordinates .uiHidden{
	display:none;
}

.leaflet-control-coordinates .uiElement.label {
    color: #fef6ed;
    text-shadow: black 1px 1px 8pxem;
	font-weight: inherit;
    font-size: .95em;
	padding: 0;
	display: inherit;
}

/* -------------------------------------------- */
/* Lists and Trees                              */
/* -------------------------------------------- */
.selected {
    background-color: var(--highlight-color);
    border-radius: 4px;
    color: black;
}

.pack {
    display: flex;
    flex-direction: row;
    margin-top: 2px;
    margin-bottom: 2px;
    padding-top: 3px;
    padding-bottom: 3px;
}


/* -------------------------------------------- */
/* Slider                                       */
/* -------------------------------------------- */

.slidecontainer {
    margin: 7px 0;
    display: flex;
    justify-items: center;
    align-items: center;
}
.slider {
    -webkit-appearance: none;  /* Override default CSS styles */
    appearance: none;
    border-radius: 1px;   
    width: 100%; /* Full-width */
    height: 3px; /* Specified height */
    padding: 0;
    background: #d3d3d3; /* Grey background */
    outline: none; /* Remove outline */
    opacity: 0.7; /* Set transparency (for mouse-over effects on hover) */
    -webkit-transition: .2s; /* 0.2 seconds transition on hover */
    transition: opacity .2s;
}
/* Mouse-over effects */
.slider:hover {
    opacity: 1; /* Fully shown on mouse-over */
}

/* The slider handle (use -webkit- (Chrome, Opera, Safari, Edge) and -moz- (Firefox) to override default look) */ 
.slider::-webkit-slider-thumb {
    -webkit-appearance: none;
    appearance: none;
    width: 15px;
    height: 15px;
    border-radius: 50%; 
    background: #555;
    cursor: pointer;
}

.slider::-moz-range-thumb {
    width: 15px;
    height: 15px;
    border-radius: 50%;
    background: #555;
    cursor: pointer;
}


.svghighlight path {
    stroke: white;
    stroke-opacity:"1"
}

.svghighlight {
    stroke: white;
    stroke-opacity:"1"
}

/* -------------------------------------------- */
/* Cards                                       */
/* -------------------------------------------- */
.tab-card-list {
    display: grid;
    grid-gap: 10px;
}

ul.tab-card-list {
    list-style: none;
    padding: 0;
    margin: 0;
}

.even-card {
    background-color: rgba(3, 139, 139, 0.1);
    border-radius: 4px;
}

.tab-card {
    position: relative;
    border-radius: 4px;
    cursor: pointer;
}

li.tab-card {
    display: block;
}

.tab-drop-target, 
.tab-card:hover::after {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: rgba(82, 82, 129, .4);
    border-radius: 4px;
    pointer-events: none;
    z-index: 100;
}

.tab-card-header {
    display: flex;
    justify-content: space-between;
}

.tab-card-header-2 {
    display: flex;
    justify-content: space-between;
    color: #9ed485;
}


/* -------------------------------------------- */
/* Custom File                                  */
/* -------------------------------------------- */
.inputfile {
	width: 0.1px;
	height: 0.1px;
	opacity: 0;
	overflow: hidden;
	position: absolute;
	z-index: -1;
}

/* -------------------------------------------- */
/* Custom Dialog                                */
/* -------------------------------------------- */

.modal-content {
  width: 100vw;
  height: 100vh;
  /* padding: 50px; */
  max-width: 100vw;
  border-radius: 0;
  background-color: transparent;
  display: flex;
  justify-content: center;
  align-items: center;
  overflow: hidden;
}

.modal-dialog{
    margin: 0px;
    width: 100%;
    height: 100%;

}

.dlg {

  max-width: 100vw;
  color: white;
  text-align: center;
  background-color: rgba(0,0,0,.8);
  max-height: 90vh;
  width: 100vw;
  padding: 20px 20px;
}

.dlg .header {
  margin-bottom: 30px;
}

.dlg h1 {
  color: white;
}

.dlg .bdy {
  display: grid;
  justify-content: center;
}

.dlg .footer {
  margin-top: 30px;
  display: grid;
  gap: 15px;
  grid-template-columns: repeat(auto-fit, minmax(75px, 150px));
  justify-content: center;
}

.crd-page-title {
  position: relative;
  text-transform: uppercase;
  font-weight: 900;
  display: inline-block;
}

.center-text {
  text-align: center;
}

.crd-txt {
  width: 100%;
  text-align: center;
}

