.user-tab {
    top: 10px;
}

h2 {
    font-weight: 300;
}

.user-photo {
    height: 64px;
    width: 64px;
    border-radius: 50%;
    border: 3px solid lightgray;
    box-sizing: content-box
}

.logoutlink {
    font-size: .8em;
}

.user-title {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

.admin-btn {
    width: 90%;
    margin-bottom: .5em;
    display: flex;
    justify-content: space-around;
}

.centered {
    display: flex;
    align-items: center;
    flex-direction: column;

}