<div *ngIf="isValid(); else showLogin" class="side-container">
  <div class="user-title">
    <img [src]="user.photo" class="user-photo user-item ">
    <h1 class="user-name mb-0 pb-0 ">{{ user.name }}</h1>
    <!-- <fa-icon icon="sign-out-alt" size="2x" (click)="logout()" class="user-logout user-item "></fa-icon> -->
    <button (click)="logout()" class="btn btn-link logoutlink mt-0 pt-0">Log Out</button>
  </div>

  <label class="mt-2 mb-0" for="name">My Groups</label>
  <small class="form-text text-muted mb-2">These are the groups you are in. Check any group that you want to be currently active.</small>

  <div class="group-list">
    <div class="custom-control custom-checkbox" *ngFor="let g of groups">
      <input type="checkbox" class="custom-control-input" id="ASSUMED_{{g.id}}" [(checklist)]="user.assumedGroups" [checklistValue]="g.id"
        (checklistChange)="save()">
      <label class="custom-control-label" for="ASSUMED_{{g.id}}">{{g.name}}</label>
      <small *ngIf="g.description" class="form-text text-muted">{{g.description}}</small>
    </div>
  </div>

  <label class="mt-2 mb-0" for="name">My Preferences</label>
  <small class="form-text text-muted mb-2">These are preferences that apply only to your experience and are not shared with others.</small>
  <div class="pref-list">
    <app-checkbox class="mb-1" mode='check' [(ngModel)]='user.prefs.expandTabOnSelect' (checkchange)="updatePrefs()" placement="bottom"
      ngbTooltip="Automatically expand the annotation tab when you select an item">Expand Tab On Select</app-checkbox>
    <app-checkbox class="mb-1" mode='check' [(ngModel)]='user.prefs.showScale' (checkchange)="updatePrefs()" placement="bottom"
      ngbTooltip="Display the map scale on each of the maps">Show Map Scale</app-checkbox>
    <app-checkbox class="mb-1" mode='check' [(ngModel)]='user.prefs.showCoords' (checkchange)="updatePrefs()" placement="bottom"
      ngbTooltip="Display the map coordiantes of the mouse">Show Map Coordinates</app-checkbox>
    <app-checkbox class="mb-1" mode='check' [(ngModel)]='user.prefs.use3Ddice' (checkchange)="updatePrefs()" placement="bottom"
      ngbTooltip="Emulate dice rolling using 3D Dice">Roll 3D Dice</app-checkbox>
    <app-checkbox class="mb-1" mode='check' [(ngModel)]='user.prefs.sounds' (checkchange)="updatePrefs()" placement="bottom"
      ngbTooltip="Enable sounds for effects (like dice rolling)">Enable Sounds</app-checkbox>
  </div>

</div>
<ng-template #showLogin class="side-container">
  <p>Please login.</p>

  <div class="centered">
    <button type="button" class="btn btn-outline-secondary admin-btn" (click)="loginGoogle()">
      <fa-icon [icon]="['fab', 'google']" size="lg" inverse='true'></fa-icon>
      <span>Sign in with Google</span>
    </button>
    <button type="button" class="btn btn-outline-secondary admin-btn" (click)="loginGithub()">
      <fa-icon [icon]="['fab', 'github']" size="lg" inverse='true'></fa-icon>
      <span>Sign in with Github</span>
    </button>
  </div>
</ng-template>