.light-table {
  display: grid;
  grid-template-columns: auto  auto 1fr auto auto;
}

.light-odd {
  background-color: rgba(81, 81, 81, 0.25)
}

.color-pick {
  padding:7px;
  height: 70%;
  width: 20px;
  max-height: 100%;
  border-radius: 5px;
  border: solid 1px #6c757d;
}

.text-right {
  text-align: right
}

.light-table input {
  color: white;
  border: 0;
}

.cell {
  display: flex;
  align-items: center;
  justify-content: center;
}

.light-table .cell-item {
  border: 0;
}

.light-table .cell-drop {
  background-color: transparent;
  color: white;
  border: 0;
}

.cell-drop option {
  background-color: #312e29;
  color: white;
}

.light-footer {
  display: flex;
  align-items: center;
  justify-content: center;
  text-align: center;
  cursor: pointer;
  margin-top: 5px;
  padding: 4px;
}

.light-footer:hover {
  background-color: grey;
}

.light-table input::-webkit-outer-spin-button,
.light-table input::-webkit-inner-spin-button {
    -webkit-appearance: none;
    margin: 0; /* <-- Apparently some margin are still there even though it's hidden */
}
.light-table .num {
  text-align: right;
}

.light-table .clickable {
  padding: 4px 4px;
  display: flex;
  align-items: center;
  justify-content: center;
}