<div class="white">
  <fa-icon icon="pencil-alt" size="lg" (click)="editstart()" class="editbtn" *ngIf="edit==false"></fa-icon>
  <fa-icon icon="check" size="lg" (click)="save()" class="checkbtn" *ngIf="edit==true"></fa-icon>
  <fa-icon icon="times" size="lg" (click)="cancel()" class="closebtn" *ngIf="edit==true"></fa-icon>
  <fa-icon icon="plus" size="lg" (click)="newMarker()" class="newbtn" *ngIf="edit==false"></fa-icon>
  <fa-icon icon="trash-alt" size="lg" (click)="delete()" class="deletebtn"></fa-icon>
  <fa-icon *ngIf="restricted == true" icon="lock" size="lg" (click)="permissions()" class="lockbtn"></fa-icon>
  <fa-icon *ngIf="restricted == false" icon="unlock" size="lg" (click)="permissions()" class="unlockbtn"></fa-icon>

  <ng-container *ngIf="marker">
    <div class="marker-container" *ngIf="edit==false">
      <img [src]="marker?.iconUrl" class="centered  mt-4  iconselected">
      <span class="title">{{marker?.name}}</span>
      <span class="type">{{name()}}</span>
      <span class="description">{{marker?.description}}</span>
      <a href="{{marker?.pageUrl}}">{{marker?.pageUrl}}</a>
      <a href="#" class="coords" (click)="pan()">{{marker?.marker._latlng.lat}}, {{marker?.marker._latlng.lng}}</a>
      <button *ngIf="marker.mapLink " type="button" class="btn btn-outline-secondary admin-btn mt-2" (click)="openLinkedMap()">
        <fa-icon icon="map" fixedWidth="true"></fa-icon> Open Linked Map</button>
    </div>
    <div *ngIf="edit==true">
      <img [src]="marker?.iconUrl" class="centered mt-4 iconselected">

      <div class="form-group">
        <label for="name" class="small">Name</label>
        <input type="text" class="form-control form-control-sm" id="name" placeholder="Enter Marker Name" [(ngModel)]="marker.name">
      </div>
      <div class="form-group">
        <label for="type" class="small">Type</label>
        <app-marker-combo [(ngModel)]="marker.type" [map]="map"></app-marker-combo>
      </div>
      <div class="form-group">
        <label for="type" class="small">Group</label>
        <app-marker-group-combo [(ngModel)]="marker.markerGroup" [marker]="marker"></app-marker-group-combo>
      </div>
      <div class="form-group">
        <label for="mapLink" class="small">Map Link</label>
        <select class="form-control" id="mapLink" [(ngModel)]="marker.mapLink">
          <optgroup *ngFor="let mt of merged" [label]="mt.name">
            <option *ngFor="let map of mt.maps" [value]="map.id">{{map.name}}</option>
          </optgroup>
        </select>
      </div>
      <div class="form-group">
        <label for="description" class="small">Description</label>
        <textarea class="form-control form-control-sm" rows="3" id="description" placeholder="Enter Description" [(ngModel)]="marker.description"></textarea>
      </div>
    </div>
  </ng-container>
</div>