<div class="dlg">
  <div class="header">
    <h1>Edit item</h1>
  </div>
  <div class="bdy">
    <div class="acol">
      <!-- name -->
      <label>Name</label>
      <input type="text" class="form-control" [(ngModel)]="item.name">


    </div>
  </div>
  <div class="footer">
    <button type="button" class="btn btn-outline-secondary" (click)="ok()">
      <fa-icon icon="check" size="lg" class="mr-2"></fa-icon>Select
    </button>
    <button type="button" class="btn btn-outline-secondary" (click)="cancel()">
      <fa-icon icon="times" size="lg" class="mr-2">
      </fa-icon>Cancel
    </button>
  </div>
</div>